@charset "UTF-8";
/*>>>>>>>>>> 공통 <<<<<<<<<<*/
.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.inner {
  margin: 0 auto;
  padding: 0 24px;
  width: 1720px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .moV {
    display: none;
  }
}
@media (max-width: 767px) {
  .pcV {
    display: none;
  }
}
/* 타이틀 */
h3 {
  line-height: 1.6;
  font-size: 40px;
  font-weight: 700;
  color: var(--color-black);
}

@media (max-width: 767px) {
  h3 {
    font-size: 30px;
  }
}
/* position */
.pRel {
  position: relative;
}

/* textAlign */
.txtl {
  text-align: left;
}

.txtc {
  text-align: center;
}

.txtr {
  text-align: right;
}

/* 버튼 */
.btnBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 10px;
  margin-top: 32px;
}
.btnBox[class*=half] > * {
  flex: 1 0 auto;
}
@media screen and (min-width: 1160px) {
  .btnBox[class*=resize] > * {
    flex: 0 0 auto;
  }
}
.btnBox[class*=sideRight] {
  justify-content: flex-end;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  border-radius: 8px;
  width: -moz-max-content;
  width: max-content;
  height: 48px;
  line-height: 1.5;
  font-size: 17px;
  box-sizing: border-box;
}
.btn[class*=sm] {
  white-space: nowrap;
  padding: 8px 10px;
  border-radius: 4px;
  height: 32px;
  line-height: normal;
  font-size: 15px;
}
.btn[class*=lg] {
  padding: 12px 16px;
  height: 56px;
  line-height: 1.5;
  font-size: 20px;
}
.btn[class*=full] {
  width: 100%;
}

.btnDefault {
  border: 1px solid var(--color-dark);
  font-weight: var(--regular);
  color: var(--color-dark);
}

.btnGray {
  font-weight: var(--bold);
  color: var(--color-white);
  background: var(--gray50);
}

.btnRed {
  font-weight: var(--bold);
  color: var(--color-white);
  background: var(--color-red);
}

.btnBorder {
  position: relative;
  line-height: normal;
  font-size: 17px;
  font-weight: var(--regular);
  color: var(--color-text);
}
.btnBorder::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
.btnBorder[class*=gray]::after {
  background: var(--color-text);
}
.btnBorder[class*=red]::after {
  background: var(--color-text);
}

.btnLink {
  display: inline-block;
  padding: 16px 20px;
  border: 1px solid #ccc;
  border-radius: 40px;
  line-height: 26px;
}
.btnLink span {
  display: block;
  padding-right: 50px;
  font-size: 21px;
  color: var(--color-white);
  background: url("../images/common/btn-arrow.png") no-repeat center right/20px auto;
}

.btnRemove {
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  overflow: hidden;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: url(../images/ico-file-remove.svg) no-repeat center center/contain;
  transform: translateY(-50%);
}

/* //버튼 */
@media (max-width: 767px) {
  .btnLink span {
    font-size: 21px;
  }
}
/* inputBox default */
.inputBox {
  margin-bottom: 10px;
}
.inputBox input,
.inputBox select {
  padding: 0 10px;
  border: 1px solid var(--gray60);
  border-radius: 8px;
  width: 100%;
  height: 48px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  font-size: 20px;
  font-weight: var(--regular);
  color: var(--color-dark);
  box-sizing: border-box;
}
.inputBox select {
  background: url(../images/ico-arrow-dark-24.svg) no-repeat calc(100% - 10px) center/auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.inputBox input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

/* 탭 */
.tabTit {
  overflow-x: auto;
  scrollbar-width: none;
}
.tabTit::-webkit-scrollbar {
  display: none;
}
.tabTit ul {
  display: flex;
  height: 50px;
}
.tabTit li {
  flex-shrink: 0;
  border: 1px solid #ccc;
  min-width: 200px;
  text-align: center;
  line-height: 48px;
  font-size: 19px;
  font-weight: 700;
  background: var(--color-white);
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.tabTit li a {
  display: block;
  padding: 0 38px;
  color: #888;
}
.tabTit li.curr {
  border-color: var(--color-red);
  background: var(--color-red);
}
.tabTit li.curr a {
  color: var(--color-white);
}

.tabCont {
  padding: 40px 0 0;
}

@media (max-width: 767px) {
  .tabTit li {
    min-width: 120px;
  }
}
/* flex box */
[class*=flexBox] {
  display: flex;
}
[class*=flexBox][class*=Col] {
  flex-direction: column;
}
[class*=flexBox][class*=As] {
  align-items: flex-start;
}
[class*=flexBox][class*=Ac] {
  align-items: center;
}
[class*=flexBox][class*=Ae] {
  align-items: flex-end;
}
[class*=flexBox][class*=Js] {
  justify-content: flex-start;
}
[class*=flexBox][class*=Jc] {
  justify-content: center;
}
[class*=flexBox][class*=Je] {
  justify-content: flex-end;
}

/* container */
#container {
  overflow: hidden;
  margin-top: 80px;
  padding: 24px 16px 120px;
  width: 100%;
  max-width: 1520px;
  min-height: 50vh;
}
@media screen and (min-width: 1160px) {
  #container {
    margin: 100px auto 0;
    padding: 0 0 120px;
  }
}

/* sitemap */
.sitemap ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 4px;
  padding-bottom: 40px;
}
.sitemap li:not(:last-child)::after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: ">";
  width: 16px;
  height: 16px;
  font-size: 15px;
  font-weight: var(--regular);
  color: var(--color-dark);
}
.sitemap li a {
  padding: 6px;
  font-size: 15px;
  font-weight: var(--regular);
  color: var(--color-dark);
}
.sitemap .home {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0 4px;
}
.sitemap .home a {
  display: inline-flex;
  overflow: hidden;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  background: url(../images/common/ico-sitemap-home.svg) no-repeat center center/contain;
}
@media screen and (min-width: 1160px) {
  .sitemap {
    padding: 40px 0;
  }
}

/* content */
/* titles */
.titL h2 {
  margin-bottom: 64px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  font-size: 32px;
  font-weight: var(--bold);
  color: var(--color-dark);
}
@media screen and (min-width: 1160px) {
  .titL h2 {
    margin: 0 0 80px;
  }
}

.titS h5 {
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  font-size: 20px;
  font-weight: var(--bold);
  color: var(--color-dark);
}
@media screen and (min-width: 1160px) {
  .titS h5 {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

/* icon titles */
[class*=tit][class*=Ico] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 10px;
}
[class*=tit][class*=Ico]::before {
  display: block;
  flex: 0 0 50px;
  content: "";
  width: 50px;
  height: 50px;
}
[class*=tit][class*=Ico][class*=Puzzle]::before {
  background: url(../images/ico-puzzle-50.svg) no-repeat center center/contain;
}
[class*=tit][class*=Ico][class*=GiveFile]::before {
  background: url(../images/ico-giveFile-50.svg) no-repeat center center/contain;
}
[class*=tit][class*=Ico][class*=CycleMedal]::before {
  background: url(../images/ico-cycleMedal-50.svg) no-repeat center center/contain;
}

/* description color */
.cRed {
  color: var(--color-red) !important;
}

.cDark {
  color: var(--color-dark) !important;
}

.cBlack {
  color: var(--color-black) !important;
}

.cText {
  color: var(--color-text) !important;
}

.cWhite {
  color: var(--color-white) !important;
}

.cLG {
  color: var(--color-lightGray) !important;
}

/* text description */
.descDeft p {
  line-height: 1.5;
  font-size: 20px;
  font-weight: var(--regular);
  letter-spacing: 0.03em;
  color: var(--color-text);
}
.descDeft p:not(:last-child) {
  margin-bottom: 16px;
}

.txtDotList {
  padding: 10px 0;
}
.txtDotList li {
  margin-bottom: 12px;
}
.txtDotList li p {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 12px;
  line-height: 1.5;
  letter-spacing: -0.05em;
  font-size: 20px;
  font-weight: var(--regular);
  letter-spacing: -0.05em;
  color: var(--color-text);
}
.txtDotList li p:not(:last-child) {
  margin-bottom: 12px;
}
.txtDotList li p::before {
  display: block;
  flex: 0 0 auto;
  content: "";
  margin: 12px 4px;
  border-radius: 20px;
  width: 6px;
  height: 6px;
  background: var(--color-red);
}
.txtDotList li.subMore span::before {
  display: inline-block;
  content: "-";
}
.txtDotList li span {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 0 4px;
  padding: 0 0 0 20px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  font-size: 17px;
  font-weight: var(--regular);
  color: var(--color-text);
}
.txtDotList li span:not(:last-child) {
  margin-bottom: 4px;
}

/* paging */
.paging {
  margin-top: 34px;
}
@media screen and (min-width: 1160px) {
  .paging {
    margin-top: 30px;
  }
}
.paging .pageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 8px;
}
.paging .pageBox [class*=btn] {
  overflow: hidden;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
}
.paging .pageBox [class*=btn][class*=First] {
  background: url(../images/ico-dubbleArrow-gray-left.svg) no-repeat center/auto;
}
.paging .pageBox [class*=btn][class*=Prev] {
  background: url(../images/ico-arrow-gray-left-20.svg) no-repeat center/auto;
}
.paging .pageBox [class*=btn][class*=Next] {
  background: url(../images/ico-arrow-gray-right-20.svg) no-repeat center/auto;
}
.paging .pageBox [class*=btn][class*=Last] {
  background: url(../images/ico-dubbleArrow-gray-right.svg) no-repeat center/auto;
}
@media screen and (min-width: 1160px) {
  .paging .pageBox [class*=btn] {
    width: 40px;
    height: 40px;
  }
}
.paging .pageBox .page {
  display: flex;
  gap: 8px;
}
.paging .pageBox .page strong {
  border-bottom: 2px solid var(--color-red);
  font-weight: var(--bold);
  color: var(--color-red);
}
.paging .pageBox .page * {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 17px;
  color: var(--text-color);
}
@media screen and (min-width: 1160px) {
  .paging .pageBox .page * {
    width: 40px;
    height: 40px;
  }
}
.paging .pageBox .page .omission {
  text-indent: -9999px;
  background: url("../images/ico-omission.svg") no-repeat center/auto;
}
/* tableDefault */
.tableDefault {
  position: relative;
}
.tableDefault caption {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 1px;
  height: 1px;
  text-indent: -9999px;
  opacity: 0;
}
.tableDefault table {
  border-top: 1px solid var(--table-top);
  border-bottom: 1px solid var(--border-bottom);
  width: 100%;
}
.tableDefault table .required::before {
  content: "*";
  margin-right: 2px;
  line-height: 1.5;
  color: var(--color-red);
}
.tableDefault tbody {
  border-bottom: 1px solid var(--table-border);
  width: 100%;
}
@media screen and (max-width: 1159px) {
  .tableDefault tbody tr {
    display: block;
  }
}
.tableDefault tbody tr:not(:first-child) {
  border-top: 1px solid var(--table-border);
}
.tableDefault tbody tr th,
.tableDefault tbody tr td {
  width: 100%;
  text-align: left;
  line-height: 1.2;
  font-size: 17px;
  color: var(--color-dark);
}
@media screen and (min-width: 1160px) {
  .tableDefault tbody tr th,
  .tableDefault tbody tr td {
    display: table-cell;
    min-height: 56px;
  }
}
@media screen and (max-width: 1159px) {
  .tableDefault tbody tr th,
  .tableDefault tbody tr td {
    display: block;
  }
}
.tableDefault tbody tr th {
  padding: 12px 8px;
  font-weight: var(--bold);
  background: var(--table-bg);
}
@media screen and (min-width: 1160px) {
  .tableDefault tbody tr th {
    border-right: 1px solid var(--border-color);
    width: 200px;
    text-align: center;
    vertical-align: middle;
  }
}
.tableDefault tbody tr td {
  padding: 12px;
}
.tableDefault tbody tr td input,
.tableDefault tbody tr td textarea {
  display: block;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 100%;
  font-size: 17px;
  font-weight: var(--regular);
  color: var(--color-dark);
  box-sizing: border-box;
}
.tableDefault tbody tr td input::-moz-placeholder, .tableDefault tbody tr td textarea::-moz-placeholder {
  color: var(--color-text);
}
.tableDefault tbody tr td input::placeholder,
.tableDefault tbody tr td textarea::placeholder {
  color: var(--color-text);
}
.tableDefault tbody tr td input {
  padding: 6px 10px;
}
.tableDefault tbody tr td .prevFileInput {
  margin-top: 8px;
  border-style: none;
  color: var(--color-disabled);
  background: var(--gray5);
}
.tableDefault tbody tr td textarea {
  padding: 10px;
  min-height: 168px;
  font-family: inherit;
  resize: none;
}
@media screen and (min-width: 1160px) {
  .tableDefault tbody tr td textarea {
    min-height: 240px;
    resize: inherit;
  }
}
.tableDefault tbody tr td p {
  padding: 6px 10px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  font-size: 17px;
  font-weight: var(--regular);
  color: var(--color-text);
}
.tableDefault tbody tr td .withFileBtn {
  gap: 0 8px;
}
.tableDefault tbody tr td .withFileBtn [placeholder="파일을 선택해주세요."] {
  max-width: 320px;
}
.tableDefault tbody tr td a[download] {
  line-height: 1.2;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 1160px) {
  .tableDefault tbody tr td {
    width: auto;
  }
  .tableDefault tbody tr td:not(:last-child) {
    border-right: 1px solid vaR(--table-border);
  }
}
@media screen and (min-width: 1160px) {
  .tableDefault tbody tr {
    display: table-row;
  }
  .tableDefault tbody tr .hMin240 {
    min-height: 216px;
  }
}

/* tableBaord */
@media screen and (min-width: 1160px) {
  [class*=table][class*=boardList] thead {
    border-bottom: 1px solid var(--talbe-border);
    width: 100%;
    background: var(--table-bg);
  }
}
@media screen and (max-width: 1159px) {
  [class*=table][class*=boardList] thead {
    display: none;
  }
}
[class*=table][class*=boardList] thead tr th {
  padding: 11px 0;
  line-height: 1.5;
  letter-spacing: -0.03em;
  font-size: 17px;
  font-weight: var(--bold);
  color: var(--color-dark);
}
[class*=table][class*=boardList] tbody {
  border-bottom: 1px solid var(--color-dark);
}
@media screen and (min-width: 1160px) {
  [class*=table][class*=boardList] tbody {
    border-bottom: 1px solid var(--table-border);
  }
}
[class*=table][class*=boardList] tbody tr {
  background: var(--table-bg);
}
[class*=table][class*=boardList] tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--color-dark);
}
@media screen and (min-width: 1160px) {
  [class*=table][class*=boardList] tbody tr:not(:last-child) {
    border-bottom: 1px solid var(--table-border);
  }
}
[class*=table][class*=boardList] tbody tr:nth-child(2n) {
  background: var(--color-white);
}
@media screen and (min-width: 1160px) {
  [class*=table][class*=boardList] tbody tr {
    background: initial;
  }
}
[class*=table][class*=boardList] tbody tr td {
  padding: 10px 12px;
}
@media screen and (min-width: 1160px) {
  [class*=table][class*=boardList] tbody tr td {
    display: table-cell;
    padding: 15px 12px;
    border-style: none;
  }
}
@media screen and (max-width: 1159px) {
  [class*=table][class*=boardList] tbody tr td {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
[class*=table][class*=boardList] tbody tr td .cellTit {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 80px;
  margin-right: 8px;
  padding: 8px 4px;
  border-right: 1px solid var(--table-border);
  width: 80px;
  height: 100%;
  line-height: 1.5;
  letter-spacing: -0.03em;
  font-size: 17px;
  font-weight: var(--bold);
  color: var(--color-dark);
  box-sizing: border-box;
}
@media screen and (min-width: 1160px) {
  [class*=table][class*=boardList] tbody tr td .cellTit {
    display: none;
  }
}
[class*=table][class*=boardList] tbody tr td p {
  padding: 10px 0;
  line-height: 1.5;
}
@media screen and (min-width: 1160px) {
  [class*=table][class*=boardList] tbody tr td p {
    padding: 0;
  }
}
[class*=table][class*=boardList] tbody tr td .titHover {
  display: -webkit-box; /* 플렉스박스처럼 박스를 만듭니다 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 말줄임 표시(...) 설정 */
  margin: 10px 0;
  max-height: 3em;
  text-decoration: underline;
  line-height: 1.5;
  letter-spacing: -0.03em;
  font-size: 17px;
  font-weight: var(--regular);
  color: var(--color-text);
  -webkit-box-orient: vertical; /* 박스 방향을 수직으로 설정 */
  -webkit-line-clamp: 2; /* 표시할 줄 수 (여기서는 2줄) */
  text-decoration-color: var(--color-text);
}
@media screen and (min-width: 1160px) {
  [class*=table][class*=boardList] tbody tr td .titHover {
    margin: 0;
  }
}
[class*=table][class*=boardList] tbody tr td .titHover:hover, [class*=table][class*=boardList] tbody tr td .titHover:active, [class*=table][class*=boardList] tbody tr td .titHover:focus {
  color: var(--color-red);
  text-decoration-color: var(--color-red);
}
@media screen and (min-width: 1160px) {
  [class*=table][class*=boardList] tbody tr td:not(:has(.titHover)) {
    text-align: center;
  }
}

/* table cell size */
@media screen and (min-width: 1160px) {
  .pcW360 {
    width: 360px !important;
  }
}

@media screen and (min-width: 1160px) {
  .pcW64 {
    width: 64px;
  }
}

@media screen and (min-width: 1160px) {
  .pcW976 {
    width: 976px;
  }
}

@media screen and (min-width: 1160px) {
  .pcW120 {
    width: 120px;
  }
}

@media screen and (min-width: 1160px) {
  .pcW240 {
    width: 240px;
  }
}

@media screen and (min-width: 1160px) {
  .pcW120 {
    width: 120px;
  }
}

/* custom */
/* 교육수료증 발급 > 사원 제안하기 > 사업공모안내
                                 > 교육수료증 발급
*/
.listCont {
  margin-bottom: 64px;
  padding: 24px;
  border-radius: 16px;
  background: var(--gray5);
}
@media screen and (min-width: 1160px) {
  .listCont {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}
.listCont > div {
  flex: 0 0 calc(50% - 24px);
}
.listCont > div:first-child {
  position: relative;
}
.listCont > div:first-child::after {
  display: block;
  content: "";
  margin: 24px 0;
  width: 100%;
  height: 1px;
  background: var(--table-border);
}
@media screen and (min-width: 1160px) {
  .listCont > div:first-child::after {
    position: absolute;
    top: 0;
    right: -24px;
    margin: 0;
    width: 1px;
    height: 100%;
  }
}
@media screen and (min-width: 1160px) {
  .listCont .txtDotList {
    padding: 10px 16px;
  }
}
@media screen and (min-width: 1160px) {
  .listCont + .inputWrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1160px) {
  .listCont + .inputWrap select {
    margin-right: 10px;
    width: 120px;
  }
}
@media screen and (min-width: 1160px) {
  .listCont + .inputWrap input {
    width: 360px;
  }
}
.listCont + .inputWrap .btn::before {
  display: block;
  content: "";
  margin-right: 4px;
  width: 20px;
  height: 20px;
  background: url(../images/ico-search-white-20.svg) no-repeat center center/contain;
}
@media screen and (min-width: 1160px) {
  .listCont + .inputWrap .btn {
    position: absolute;
    top: 13px;
    right: 10px;
    overflow: hidden;
    padding: 0;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    background: url(../images/ico-search-24.svg) #fff no-repeat center center/contain;
  }
  .listCont + .inputWrap .btn::before {
    content: none;
  }
}
.listCont .circList {
  padding: 10px 0;
}
@media screen and (min-width: 1160px) {
  .listCont .circList ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 32px;
  }
}
@media screen and (min-width: 1160px) {
  .listCont .circList li {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
.listCont .circList li:not(:last-child) {
  margin: 0 auto 24px;
}
@media screen and (min-width: 1160px) {
  .listCont .circList li:not(:last-child) {
    margin: 0;
  }
}
.listCont .circList li:not(:last-child)::after {
  content: "";
  display: block;
  margin: 24px auto;
  width: 32px;
  height: 32px;
  background: url(../images/visual-arrow-dot.svg) no-repeat center center/auto;
  transform: rotate(90deg);
}
@media screen and (min-width: 1160px) {
  .listCont .circList li:not(:last-child)::after {
    margin: 36px 0 0 32px;
    transform: inherit;
  }
}
.listCont .circList li p::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 8px;
  border-radius: 50%;
}
.listCont .circList li:first-child p::before {
  background: url(../images/visual-file-with-pen.svg) no-repeat #fff center center/auto;
}
.listCont .circList li:nth-child(2) p::before {
  background: url(../images/visual-file-in-letter.svg) no-repeat #fff center center/auto;
}
.listCont .circList li:last-child p::before {
  background: url(../images/visual-file-with-medal.svg) no-repeat #fff center center/auto;
}

/* 교육수료증 발급 - 비회원 로그인 ui */
.certificateBox {
  padding: 20px 40px;
}
.certificateBox .txt {
  white-space: nowrap;
  margin-top: 20px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: var(--regular);
  color: var(--color-dark);
}
.certificateBox .btnBox {
  margin-top: 60px;
}