@charset "UTF-8";
/*>>>>>>>>>> 공통 <<<<<<<<<<*/
.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.inner {
  margin: 0 auto;
  padding: 0 24px;
  width: 1720px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .moV {
    display: none;
  }
}
@media (max-width: 767px) {
  .pcV {
    display: none;
  }
}
/* 타이틀 */
h3 {
  line-height: 1.6;
  font-size: 40px;
  font-weight: 700;
  color: var(--color-black);
}

@media (max-width: 767px) {
  h3 {
    font-size: 30px;
  }
}
/* 버튼 */
.btnBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 10px;
  margin-top: 32px;
}
.btnBox[class*=half] > * {
  flex: 1 0 auto;
}
@media screen and (min-width: 1160px) {
  .btnBox[class*=resize] > * {
    flex: 0 0 auto;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  border-radius: 8px;
  width: max-content;
  height: 48px;
  line-height: 1.5;
  font-size: 17px;
  box-sizing: border-box;
}
.btn[class*=sm] {
  white-space: nowrap;
  padding: 8px 10px;
  border-radius: 4px;
  height: 32px;
  line-height: normal;
  font-size: 15px;
}

.btnDefault {
  font-weight: var(--regular);
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
}

.btnLink {
  display: inline-block;
  padding: 16px 20px;
  border: 1px solid #ccc;
  border-radius: 40px;
  line-height: 26px;
}
.btnLink span {
  display: block;
  padding-right: 50px;
  font-size: 21px;
  color: var(--color-white);
  background: url("/assets/images/common/btn-arrow.png") no-repeat center right/20px auto;
}

.btnRed {
  font-weight: var(--bold);
  color: var(--color-white);
  background: var(--color-red);
}

@media (max-width: 767px) {
  .btnLink span {
    font-size: 21px;
  }
}
/* 탭 */
.tabTit {
  overflow-x: auto;
  scrollbar-width: none;
}
.tabTit::-webkit-scrollbar {
  display: none;
}
.tabTit ul {
  display: flex;
  height: 50px;
}
.tabTit li {
  flex-shrink: 0;
  border: 1px solid #ccc;
  min-width: 200px;
  text-align: center;
  line-height: 48px;
  font-size: 19px;
  font-weight: 700;
  background: var(--color-white);
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.tabTit li a {
  display: block;
  padding: 0 38px;
  color: #888;
}
.tabTit li.curr {
  border-color: var(--color-red);
  background: var(--color-red);
}
.tabTit li.curr a {
  color: var(--color-white);
}

.tabCont {
  padding: 40px 0 0;
}

@media (max-width: 767px) {
  .tabTit li {
    min-width: 120px;
  }
}
/* flex box */
[class*=flexBox] {
  display: flex;
}
[class*=flexBox][class*=As] {
  align-items: flex-start;
}
[class*=flexBox][class*=Ac] {
  align-items: center;
}
[class*=flexBox][class*=Ae] {
  align-items: flex-end;
}
[class*=flexBox][class*=Js] {
  justify-content: flex-start;
}
[class*=flexBox][class*=Jc] {
  justify-content: center;
}
[class*=flexBox][class*=Je] {
  justify-content: flex-end;
}

/* container */
#container {
  overflow: hidden;
  margin-top: 80px;
  padding: 24px 16px 120px;
  width: 100%;
  min-height: 50vh;
}

/* sitemap */
.sitemap ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 4px;
  padding-bottom: 40px;
}
.sitemap li:not(:last-child)::after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: ">";
  width: 16px;
  height: 16px;
  font-size: 15px;
  font-weight: var(--regular);
  color: var(--color-dark);
}
.sitemap li a {
  padding: 6px;
  font-size: 15px;
  font-weight: var(--regular);
  color: var(--color-dark);
}
.sitemap .home {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0 4px;
}
.sitemap .home a {
  display: inline-flex;
  overflow: hidden;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  background: url(../images/common/ico-sitemap-home.svg) no-repeat center center/contain;
}

/* content */
.content h2 {
  margin-bottom: 64px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  font-size: 32px;
  font-weight: var(--bold);
  color: var(--color-dark);
}

/* tableDefault */
.tableDefault {
  position: relative;
}
.tableDefault caption {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 1px;
  height: 1px;
  text-indent: -9999px;
  opacity: 0;
}
.tableDefault table {
  border-top: 1px solid var(--table-top);
  border-bottom: 1px solid vaR(--border-bottom);
  width: 100%;
}
.tableDefault table .required::before {
  content: "*";
  margin-right: 2px;
  line-height: 1.5;
  color: var(--color-red);
}
.tableDefault tbody {
  display: block;
  border-bottom: 1px solid var(--table-border);
}
.tableDefault tbody tr {
  display: block;
}
.tableDefault tbody tr:not(:first-child) {
  border-top: 1px solid var(--table-border);
}
.tableDefault tbody tr th,
.tableDefault tbody tr td {
  display: block;
  text-align: left;
  line-height: 1.2;
  font-size: 17px;
  color: var(--color-dark);
}
.tableDefault tbody tr th {
  padding: 12px 8px;
  font-weight: var(--bold);
  background: var(--table-bg);
}
.tableDefault tbody tr td {
  padding: 12px;
}
.tableDefault tbody tr td input,
.tableDefault tbody tr td textarea {
  display: block;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 100%;
  font-size: 17px;
  font-weight: var(--regular);
  color: var(--color-dark);
  box-sizing: border-box;
}
.tableDefault tbody tr td input::placeholder,
.tableDefault tbody tr td textarea::placeholder {
  color: var(--color-placeholder);
}
.tableDefault tbody tr td input {
  padding: 6px 10px;
}
.tableDefault tbody tr td textarea {
  padding: 10px;
  min-height: 168px;
  resize: none;
}
.tableDefault tbody tr td .withFileBtn {
  gap: 0 8px;
}
.tableDefault tbody tr td .withFileBtn [placeholder="파일을 선택해주세요."] {
  max-width: 320px;
}

@media screen and (min-width: 1160px) {
  #container {
    margin: 100px auto 0;
    padding: 0 0 120px;
    width: 1520px;
  }
  .sitemap {
    padding: 40px 0;
  }
  .titWrap h2 {
    margin: 0 0 80px;
  }
  .tableDefault tbody tr {
    display: table-row;
  }
  .tableDefault tbody tr th,
  .tableDefault tbody tr td {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    min-height: 56px;
  }
  .tableDefault tbody tr th {
    width: 200px;
    border-right: 1px solid var(--border-color);
  }
  .tableDefault tbody tr td {
    width: 1320px;
  }
  .tableDefault tbody tr td textarea {
    height: 216px;
  }
}