/* HEADER */
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}
#header.scroll h1 a {
  background: url(../images/common/logo-on.svg) no-repeat center center/contain;
}

.headerArn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerArn h1 a {
  display: block;
  width: 263px;
  height: 38px;
  text-indent: -9999px;
  background: url(../images/common/logo.svg) no-repeat center center/contain;
}
.headerArn .util {
  display: flex;
  gap: 10px;
}
.headerArn .util .link {
  padding: 0 10px;
  border-radius: 4px;
  line-height: 30px;
  font-size: 15px;
  font-weight: 700;
  color: var(--color-white);
}
.headerArn .util .link-login {
  border: 1px solid var(--color-white);
  background-color: transparent;
}
.headerArn .util .link-qna {
  border: 1px solid var(--color-red);
  background-color: var(--color-red);
}
.headerArn .mMenuBtn {
  display: none;
}

#header.scroll {
  background: var(--color-white);
}
#header.scroll::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 1px;
  background: var(--border-color);
}
#header.scroll .headerArn h1 img {
  content: url("../images/common/logo-on.svg");
}
#header.scroll .headerArn .link-login {
  border-color: #707070;
  color: #707070;
}
#header.scroll .gnb > li > a {
  color: var(--color-black);
}
#header.scroll .gnb > li > a:hover, #header.scroll .gnb > li > a:active, #header.scroll .gnb > li > a:focus {
  color: var(--color-red);
}

/* GNB */
.gnb {
  display: flex;
}
.gnb > li > a {
  display: block;
  position: relative;
  padding: 0 30px;
  line-height: 100px;
  font-size: 19px;
  font-weight: 700;
  color: var(--color-white);
}
.gnb > li > a:hover, .gnb > li > a:focus, .gnb > li > a:active {
  font-weight: var(--bold);
  color: var(--color-red);
}
.gnb > li > a:hover::after, .gnb > li > a:focus::after, .gnb > li > a:active::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 3px;
  background: var(--color-red);
}
.gnb .gnbOpen {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 48px 0 140px;
  border-top: 1px solid var(--border-color);
  width: 100%;
  height: auto;
  background: var(--color-white);
}
.gnb .gnbOpen > ul {
  margin: 0 auto;
}
.gnb .gnbOpen > ul > li > a {
  display: block;
  position: relative;
  font-size: 22px;
  font-weight: 500;
}
.gnb .gnbOpen .depth02 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 0 60px;
  padding: 0;
}
.gnb .gnbOpen .depth02 > li {
  flex: 0 0 auto;
  white-space: nowrap;
}
.gnb .gnbOpen .depth02 > li > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  line-height: normal;
  font-size: 22px;
  font-weight: var(--medium);
  color: var(--color-gray);
}
.gnb .gnbOpen .depth02 > li > a::before {
  display: block;
  content: "";
  margin-right: 12px;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background: var(--border-color);
}
.gnb .gnbOpen .depth03 li:not(:last-child) a {
  margin-bottom: 12px;
}
.gnb .gnbOpen .depth03 li a {
  display: inline-flex;
  padding: 0 0 0 20px;
  min-width: 161px;
  font-size: 17px;
  font-weight: var(--regular);
  color: var(--color-lightGray);
}
.gnb .gnbOpen .depth03 li a:hover, .gnb .gnbOpen .depth03 li a:focus, .gnb .gnbOpen .depth03 li a:active, .gnb .gnbOpen .depth03 li a:focus-within {
  color: var(--color-red);
}

/* FOOTER */
#footer {
  background: var(--color-black);
}

.footerTop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #666;
}
.footerTop .footerMenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 52px;
}
.footerTop .footerMenu a {
  display: block;
  line-height: 20px;
  font-size: 17px;
  color: #ccc;
}
.footerTop .footerMenu p {
  position: relative;
}
.footerTop .footerMenu p:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -26px;
  width: 1px;
  height: 10px;
  background: #aaa;
}
.footerTop .footerMenu .prvcPlcy a {
  font-weight: 700;
  color: var(--color-white);
}
.footerTop .footerMenu .prvcPlcy:before {
  display: none;
}
.footerTop .footerMenu ul {
  display: flex;
  gap: 52px;
}
.footerTop .footerMenu ul li {
  position: relative;
}
.footerTop .footerMenu ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -26px;
  width: 1px;
  height: 10px;
  background: #aaa;
}
.footerTop .familySite {
  position: relative;
  width: 152px;
}
.footerTop .familySite .site {
  display: block;
  overflow: hidden;
  line-height: 20px;
  font-size: 17px;
  font-weight: 700;
  color: var(--color-white);
  background: url("../images/common/ico-more.svg") no-repeat center right/14px auto;
}
.footerTop .familySite ul {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 0;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  border-radius: 6px;
  width: 100%;
  background: var(--color-white);
}
.footerTop .familySite ul li {
  line-height: 1.5;
}
.footerTop .familySite ul li a {
  display: block;
  padding: 10px;
  color: var(--color-black);
}
.footerTop .familySite ul li a:hover {
  color: var(--color-white);
  background: var(--color-black);
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.footerBottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  padding: 50px 0 66px;
}
.footerBottom .footerInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.footerBottom .footerInfo .logo {
  margin-bottom: 20px;
  width: 264px;
  height: 38px;
  text-indent: -9999px;
  background: url("../images/common/logo-footer.png") no-repeat center/100% auto;
}
.footerBottom .footerInfo .address {
  line-height: 1.5;
  font-size: 15px;
  color: var(--color-white);
}
.footerBottom .footerInfo ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.footerBottom .footerInfo ul li {
  display: flex;
  gap: 30px;
  position: relative;
  font-size: 15px;
  color: var(--color-white);
}
.footerBottom .footerInfo ul li + li:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -15px;
  width: 1px;
  height: 10px;
  background: #aaa;
}
.footerBottom .footerInfo ul span {
  position: relative;
}
.footerBottom .footerInfo ul span + span:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -15px;
  width: 1px;
  height: 10px;
  background: #aaa;
}
.footerBottom .footerInfo .copy {
  line-height: 1.5;
  font-size: 15px;
  color: #aaa;
}
.footerBottom .footerSns {
  display: flex;
  gap: 15px;
}
.footerBottom .footerSns a {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}
.footerBottom .footerSns li.facebook a {
  background: #333 url("../images/common/ico-facebook.svg") no-repeat center/100% auto;
}
.footerBottom .footerSns li.youtube a {
  background: #333 url("../images/common/ico-youtube.svg") no-repeat center/100% auto;
}
.footerBottom .footerSns li.twitter a {
  background: #333 url("../images/common/ico-twitter.svg") no-repeat center/100% auto;
}
.footerBottom .footerSns li.instagram a {
  background: #333 url("../images/common/ico-instagram.svg") no-repeat center/100% auto;
}

@media (max-width: 767px) {
  .footerTop {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
  }
  .footerTop .footerMenu {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .footerTop .footerMenu p:before {
    display: none;
  }
  .footerTop .footerMenu ul li:first-child:before {
    display: none;
  }
  .footerTop .familySite {
    width: 100%;
  }
  .footerBottom {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    padding: 20px 0 36px;
  }
  .footerBottom .footerInfo .logo {
    margin-bottom: 10px;
    width: 194px;
    height: 24px;
  }
  .footerBottom .footerInfo .address {
    font-size: 13px;
  }
  .footerBottom .footerInfo ul {
    flex-direction: column;
    gap: 10px 30px;
  }
  .footerBottom .footerInfo ul li {
    font-size: 13px;
  }
  .footerBottom .footerInfo ul li + li:before {
    display: none;
  }
  .footerBottom .footerInfo .copy {
    font-size: 13px;
  }
  .footerBottom .footerSns {
    margin-left: auto;
  }
}
@media screen and (max-width: 1160px) {
  .unscroll {
    overflow: hidden;
  }
  #header .inner {
    padding: 24px;
    height: 80px;
  }
  #header .headerArn {
    flex-wrap: wrap;
  }
  #header .headerArn::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 0;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    height: 135px;
    background: #fff;
    box-sizing: border-box;
    transition: right 0.2s;
  }
  #header .headerArn > *:not(nav) {
    position: relative;
    z-index: 1;
  }
  #header h1 a {
    width: 219px;
    height: 28px;
    text-indent: -9999px;
    background: url(../images/common/ico-header-logo-mo.svg) no-repeat center center/contain;
  }
  #header h1 .logoPc {
    display: none;
  }
  #header.active .mMenuBtn {
    background: url(../images/common/ico-close.svg) center center/contain;
  }
  #header.active .headerArn::after {
    right: 0;
  }
  #header.active .util {
    transform: translateX(0);
  }
  #header.scroll.active::after {
    content: none;
  }
  #header .mMenuBtn {
    display: block;
    overflow: hidden;
    padding: 0;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background: url(../images/common/ico-menu-mo.svg) no-repeat center center/contain;
  }
  #header.scroll:not(.active) .mMenuBtn {
    background: url(../images/common/ico-menu-mo-bk.svg) no-repeat center center/contain;
  }
  #header.active h1 a, #header.scroll h1 a {
    background: url(../images/common/ico-header-logo-mo-bk.svg) no-repeat center center/contain;
  }
  #header .util {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1 0 100%;
    gap: 0 10px;
    margin-top: 25px;
    transform: translateX(100vw);
    transition: transform 0.2s;
  }
  #header .util .link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;
    height: 32px;
    font-size: 15px;
    font-weight: var(--bold);
    box-sizing: border-box;
  }
  #header .util .link[class*=login] {
    border: 1px solid var(--border-color);
    color: var(--color-lightGray);
  }
  #header .util .link[class*=qna] {
    border: 1px solid var(--color-red);
    color: var(--color-white);
  }
  #header nav {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 0;
    overflow-y: auto;
    padding-top: 135px;
    border-top: 1px solid var(--border-color);
    width: 100%;
    height: 100%;
    background: #fff;
    transition: right 0.2s;
  }
  #header nav.active {
    right: 0;
  }
  #header nav .depth01 {
    display: block;
  }
  #header nav .depth01 > li > a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 25.5px 24px;
    border-bottom: 1px solid var(--border-color);
    height: 80px;
    line-height: normal;
    font-size: 24px;
    font-weight: var(--bold);
    color: var(--color-black);
    box-sizing: border-box;
  }
  #header nav .depth01 > li > a:hover, #header nav .depth01 > li > a:focus, #header nav .depth01 > li > a:active {
    bottom: auto;
    left: auto;
  }
  #header nav .depth01 > li > a::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 24px;
    z-index: 1;
    width: 14px;
    height: 2px;
    background: var(--color-black);
    transform: translateY(-50%);
  }
  #header nav .depth01 > li > a::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: initial;
    left: initial;
    z-index: 0;
    width: 2px;
    height: 14px;
    background: var(--color-black);
    transform: translateY(-50%);
    transition: transform 0.2s;
  }
  #header nav .depth01 > .active > a {
    border-bottom: 3px solid var(--color-red);
    color: var(--color-red);
  }
  #header nav .depth01 > .active > a::before {
    background: var(--color-red);
  }
  #header nav .depth01 > .active > a::after {
    transform: rotate(90deg) translateX(-7px);
  }
  #header nav .depth01 .gnbOpen {
    position: static;
    padding: 0;
  }
  #header nav .depth02 {
    flex-direction: column;
    padding: 0;
    width: 100%;
    background: #f7f7fa;
  }
  #header nav .depth02 > li {
    width: 100%;
  }
  #header nav .depth02 > li a {
    display: flex;
    margin: 0;
    padding: 22px 24px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    height: 70px;
  }
  #header nav .depth02 > li a::before {
    display: block;
    content: "";
    margin-right: 12px;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background: var(--border-color);
  }
  #header nav .depth03 > li a {
    padding: 8px 44px 4px;
    height: auto;
    line-height: 30px;
    font-size: 17px;
    font-weight: var(--regular);
    color: var(--color-lightGray);
    border-style: none;
  }
  #header nav .depth03 > li a::before {
    content: none;
  }
  #header nav .depth03 > li a:hover, #header nav .depth03 > li a:active, #header nav .depth03 > li a:focus, #header nav .depth03 > li a:focus-within {
    color: var(--color-red);
  }
  #header nav .depth03 > li:last-child a {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border-color);
  }
}
@media screen and (max-width: 1320px) {
  .depth01 > li > a {
    white-space: nowrap;
    font-size: 17px;
  }
  .headerArn .util {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1161px) and (max-width: 1720px) {
  .depth01 li:nth-child(2) .depth02 {
    max-width: 1000px;
  }
}
/* CONTAINER */
.container {
  margin: 120px auto 160px;
  padding: 0 20px;
  width: 1720px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .container {
    margin: 80px auto 140px;
  }
}