@charset "UTF-8";
#main section {
  margin: 120px 0;
}

.titArea-main {
  margin-bottom: 40px;
}
.titArea-main p {
  line-height: 1.5;
  font-size: 28px;
  color: var(--color-black);
}

.swiperBtn {
  position: absolute;
  top: 10px;
  right: 0;
  width: 90px;
  height: 40px;
}
.swiperBtn .swiper-button-prev {
  top: 0;
  left: 0;
  margin-top: 0;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background: url("../images/main/btn-prev-circle.png") no-repeat center/100% auto;
}
.swiperBtn .swiper-button-next {
  top: 0;
  right: 0;
  margin-top: 0;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background: url("../images/main/btn-next-circle.png") no-repeat center/100% auto;
}

@media (max-width: 1160px) {
  .swiperBtn {
    top: 0;
  }
}
@media (max-width: 767px) {
  #main section {
    margin: 80px 0;
  }
  .titArea-main {
    margin-bottom: 70px;
  }
  .titArea-main p {
    font-size: 18px;
  }
}
/* 메인 비주얼 */
.visualSwiper {
  position: relative;
  overflow: hidden;
  height: 910px;
}
.visualSwiper .swiper-slide .imgBox-main {
  height: 100%;
}
.visualSwiper .swiper-slide .imgBox-main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.visualSwiper .swiper-slide .txtBox-main {
  position: absolute;
  top: 260px;
  left: 50%;
  width: calc(100% - 40px);
  max-width: 1680px;
  height: calc(100% - 260px);
  transform: translateX(-50%);
}
.visualSwiper .swiper-slide .txtBox-main p {
  margin-bottom: 15px;
  line-height: 1.2;
  font-size: 32px;
  color: var(--color-white);
}
.visualSwiper .swiper-slide .txtBox-main strong {
  display: block;
  line-height: 1.2;
  font-size: 80px;
  font-weight: 700;
  color: var(--color-white);
}
.visualSwiper .swiper-slide .txtBox-main .btnLink {
  position: absolute;
  bottom: 327px;
}
.visualSwiper .scrollDown {
  position: absolute;
  bottom: 54px;
  left: 50%;
  z-index: 5;
  padding-top: 46px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
  background: url("../images/main/ico-mouse.svg") no-repeat center top/40px auto;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  animation: scroll 2s infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
    margin-bottom: 1.4vw;
  }
  50% {
    opacity: 1;
    margin-bottom: 0;
  }
  100% {
    opacity: 0;
    margin-bottom: 1.4vw;
  }
}
.visualSwiperBtn {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 217px;
  left: 50%;
  z-index: 5;
  width: calc(100% - 40px);
  max-width: 1680px;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.visualSwiperBtn .swiper-pagination {
  display: flex;
  align-items: center;
  gap: 20px;
  position: static;
  margin-right: 20px;
  width: auto;
}
.visualSwiperBtn .swiper-pagination .swiper-pagination-bullet {
  margin: 0;
  background: #999;
  opacity: 1;
}
.visualSwiperBtn .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--color-red);
}
.visualSwiperBtn .visualSwiperBtnBox {
  display: flex;
  gap: 20px;
}
.visualSwiperBtn .swiper-button-prev {
  position: static;
  margin-top: 0;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: url("../images/main/btn-prev.svg") no-repeat center/16px auto;
}
.visualSwiperBtn .swiper-button-next {
  position: static;
  margin-top: 0;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: url("../images/main/btn-next.svg") no-repeat center/16px auto;
}
.visualSwiperBtn .swiper-button-stop {
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: url("../images/main/btn-stop.svg") no-repeat center/16px auto;
  cursor: pointer;
}
.visualSwiperBtn .swiper-button-stop.start {
  background-image: url("../images/main/btn-start.svg");
}

@media (max-width: 767px) {
  .visualSwiper .swiper-slide .txtBox-main {
    top: 110px;
    height: calc(100% - 110px);
  }
  .visualSwiper .swiper-slide .txtBox-main p {
    font-size: 17px;
  }
  .visualSwiper .swiper-slide .txtBox-main strong {
    font-size: 60px;
  }
  .visualSwiper .swiper-slide .txtBox-main .btnLink {
    bottom: 492px;
  }
  .visualSwiper .scrollDown {
    display: none;
  }
  .visualSwiperBtn {
    flex-direction: column;
    align-items: flex-start;
    bottom: 416px;
  }
  .visualSwiperBtn .visualSwiperBtnBox {
    margin-left: -6px;
  }
}
@media (max-width: 390px) {
  .visualSwiper .swiper-slide .txtBox-main p {
    font-size: 15px;
  }
  .visualSwiper .swiper-slide .txtBox-main strong {
    font-size: 50px;
  }
}
/* 메인 콘텐츠 1단 */
.mainCont01 {
  display: flex;
  gap: 20px;
}
.mainCont01 .imgBox-main {
  position: relative;
}
.mainCont01 .imgBox-main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainCont01 .imgBox-main .txtBox-main {
  position: absolute;
  right: 50px;
  bottom: 50px;
  left: 50px;
  color: var(--color-white);
}
.mainCont01 .imgBox-main .txtBox-main strong {
  display: block;
  line-height: 1.2;
  font-size: 2.7vw;
  font-weight: 400;
}
.mainCont01 .imgBox-main .txtBox-main p {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 17px;
}
.mainCont01 .lt {
  width: 56%;
}
.mainCont01 .lt .imgBox-main {
  height: 620px;
}
.mainCont01 .rt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 44%;
}
.mainCont01 .rt .imgBox-main {
  height: 300px;
}

@media (max-width: 1160px) {
  .mainCont01 {
    flex-direction: column;
  }
  .mainCont01 .imgBox-main .txtBox-main {
    bottom: 30px;
    left: 30px;
  }
  .mainCont01 .imgBox-main .txtBox-main strong {
    font-size: 38px;
  }
  .mainCont01 .imgBox-main .txtBox-main p {
    font-size: 14px;
  }
  .mainCont01 .lt {
    width: 100%;
  }
  .mainCont01 .lt .imgBox-main {
    height: 316px;
  }
  .mainCont01 .rt {
    width: 100%;
  }
  .mainCont01 .rt .imgBox-main {
    height: 242px;
  }
}
@media (max-width: 767px) {
  .mainCont01 .imgBox-main .txtBox-main {
    bottom: 20px;
    left: 20px;
  }
  .mainCont01 .imgBox-main .txtBox-main strong {
    font-size: 25px;
  }
  .mainCont01 .imgBox-main .txtBox-main p {
    display: none;
  }
  .mainCont01 .lt .imgBox-main {
    height: 216px;
  }
  .mainCont01 .rt .imgBox-main {
    height: 142px;
  }
}
/* 메인 콘텐츠 2단 */
.mainCont02 {
  position: relative;
  overflow: hidden;
  margin: 0 -20px 0;
  padding: 0 20px 60px;
}
.mainCont02 .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px;
  border: 1px solid #eee;
  border-radius: 20px;
  height: 340px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.mainCont02 .swiper-slide p {
  padding-bottom: 50px;
  height: 72px;
  line-height: 1.2;
  font-size: 30px;
  color: var(--color-black);
  background: url("../images/main/ico-arrow-right-40.png") no-repeat left bottom/40px auto;
  box-sizing: content-box;
}
.mainCont02 .swiper-slide img {
  margin-left: auto;
  width: 80px;
  height: 80px;
}
.mainCont02 .swiperBtn {
  right: 20px;
}

@media (max-width: 1280px) {
  .mainCont02 .swiper-slide p {
    font-size: 26px;
  }
}
@media (max-width: 1160px) {
  .mainCont02 {
    margin-top: -40px;
    padding-top: 90px;
  }
  .mainCont02 .swiper-slide {
    width: 260px !important;
  }
}
@media (max-width: 767px) {
  .mainCont02 {
    margin-top: -70px;
  }
  .mainCont02 .swiper-slide p {
    font-size: 30px;
  }
}
/* 메인 콘텐츠 3단 */
.mainCont03 {
  display: flex;
  gap: 40px;
  position: relative;
  padding-top: 30px;
}
.mainCont03:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100vw;
  height: 300px;
  background: #FEF2F3;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.mainCont03 .insightTit {
  flex-shrink: 0;
  width: 260px;
}
.mainCont03 .insightTit p {
  line-height: 1.5;
  font-size: 30px;
  font-weight: 700;
  color: var(--color-black);
}
.mainCont03 .insightSwiper {
  position: relative;
  overflow: hidden;
  margin-top: -120px;
  margin-right: calc(var(--right) * -1);
  padding: 120px 0 80px;
}
.mainCont03 .insightSwiper .swiperBtn {
  top: 5px;
  right: calc((100vw - 1680px - 15px) / 2);
}
.mainCont03 .swiper-slide {
  flex: none;
  width: 485px !important;
  background: var(--color-white);
}
.mainCont03 .swiper-slide .companyLabel {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 15px;
  color: var(--color-red);
  background: var(--color-white);
}
.mainCont03 .swiper-slide .imgWrap .linkWrap {
  right: 20px;
}
.mainCont03 .swiper-scrollbar {
  bottom: 10px;
  left: 0;
  border-radius: 6px;
  height: 3px;
  background: #FEF2F3;
}
.mainCont03 .swiper-scrollbar .swiper-scrollbar-drag {
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 1720px) {
  .mainCont03 .insightSwiper {
    margin-right: calc((var(--right) - 9px) * -1);
  }
}
@media (max-width: 1160px) {
  .mainCont03 .insightTit {
    width: 190px;
  }
  .mainCont03 .insightTit p {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .mainCont03 {
    gap: 0;
    margin-top: 0;
  }
  .mainCont03:before {
    height: 248px;
  }
  .mainCont03 .insightTit {
    display: none;
  }
  .mainCont03 .insightSwiper {
    margin: -190px -20px 0;
    padding: 190px 20px 80px;
  }
  .mainCont03 .insightSwiper .swiperBtn {
    top: 0;
    right: 20px;
  }
  .mainCont03 .swiper-slide {
    width: 340px !important;
  }
  .mainCont03 .swiper-slide .infoWrap {
    padding: 16px 0;
  }
  .mainCont03 .swiper-slide .infoWrap .infoList ul {
    display: flex;
    flex-wrap: wrap;
  }
  .mainCont03 .swiper-slide .infoWrap .infoList ul li {
    width: 90px;
  }
  .mainCont03 .swiper-slide .infoWrap .infoList ul li span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .mainCont03 .swiper-slide .infoWrap .infoList ul li:nth-child(even) {
    flex: 1;
  }
}
/* 메인 콘텐츠 4단 */
.mainCont04 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 80px;
  margin-top: 80px;
}
.mainCont04 .board {
  flex: 1;
  position: relative;
  width: 100%;
}
.mainCont04 .board .boardTit {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-dark);
}
.mainCont04 .board .boardTit span {
  position: relative;
  padding-bottom: 20px;
  line-height: 1.5;
  font-size: 30px;
  font-weight: 700;
  color: var(--color-black);
}
.mainCont04 .board .boardTit span:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--color-red);
}
.mainCont04 .board ul {
  margin-top: 32px;
}
.mainCont04 .board ul li {
  margin-top: 20px;
  border-bottom: 1px solid var(--gray30);
}
.mainCont04 .board ul li a {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 4px 0;
  font-size: 20px;
}
.mainCont04 .board ul li a p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 340px;
  color: var(--color-dark);
}
.mainCont04 .board ul li a span {
  flex-shrink: 0;
  width: 100px;
  color: var(--color-text);
}
.mainCont04 .board .btnMore {
  position: absolute;
  top: 2px;
  right: 0;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background: url("../images/main/btn-more.svg") no-repeat center/100% auto;
}

@media (max-width: 1551px) {
  .mainCont04 .board:last-child ul li a p {
    max-width: 1000px;
  }
}
@media (max-width: 1160px) {
  .mainCont04 {
    flex-direction: column;
    gap: 80px;
  }
}
/* 메인 콘텐츠 5단 */
.mainCont05 {
  padding-top: 80px;
  height: 900px;
  background: url("../images/main/bg-02.png") no-repeat center/cover;
}
.mainCont05 .inner {
  height: 100%;
}
.mainCont05 .spaceArn {
  display: flex;
  height: 100%;
}
.mainCont05 .spaceArn .lt {
  flex-shrink: 0;
}
.mainCont05 .spaceArn .lt .titArea-main p,
.mainCont05 .spaceArn .lt .titArea-main h3 {
  color: var(--color-white);
}
.mainCont05 .spaceArn .rt ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px;
}
.mainCont05 .spaceArn .rt ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 20px;
  width: calc(33.333% - 40px);
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1280px) {
  .mainCont05 .spaceArn {
    flex-direction: column;
  }
  .mainCont05 .spaceArn .rt ul {
    justify-content: center;
  }
  .mainCont05 .spaceArn .rt ul li {
    height: 160px;
  }
  .mainCont05 .spaceArn .rt ul li img {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .mainCont05 {
    padding-top: 50px;
  }
  .mainCont05 .spaceArn {
    flex-direction: column;
  }
  .mainCont05 .spaceArn .rt ul {
    justify-content: flex-start;
  }
  .mainCont05 .spaceArn .rt ul li {
    width: calc(50% - 10px);
    height: 100px;
  }
}