:root {
    /* input, select, textarea */
    /* --font-input: 16px; */
    /* --color-input: #101010; */
    /* --color-placeholder: #707070; */
    /* --border-input: #DBDBDB; */
    --border-radius: 4px;
    /* --bg-input: #fff; */

    /* border */
    --border-color: #DBDBDB; 

    /* background */
    /* --bg-color: #f6f6f6; */

    /* color */
    --color-black: #000;
    --color-white: #fff;
    /* --color-gray: #999; */
    --color-gray: #454545;
    --color-red: #E60024;
    --color-lightGray:#707070;
    --color-dark:#1d1d1d;
    --color-text:#555555; /* gray70 */
    /* --color-base: #454545; */
    /* --color-primary:#133692; */
    --table-bg:#FFF8F9;
    --table-bg-thick:#FBEAEB;
    --table-top:#2d2d2d;
    --table-border:#D8D8D8; /* gray50 */

    --text-color: #555; /* gray70 */
    --success:#008A1E;

    --gray5:#F8F8F8;
    --gray30:#D8D8D8; /* table-border */
    --gray50:#BEBEBE;
    --gray60:#717171;
    --gray70:#555; /* color-text, text-color */
    --gray80:#2D2D2D;

    --thin:100;
    --light:300;
    --regular:400;
    --medium:500;
    --bold:700;
    --exBold:800;
    --black:900;
}