@charset "utf-8";

/* HEADER */
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    &.scroll h1 a {
        background: url(../../images/common/logo-on.svg) no-repeat center center / contain;
    }
}
.headerArn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 a {
        display: block;
        width: 263px;
        height: 38px;
        text-indent: -9999px;
        background: url(../../images/common/logo.svg) no-repeat center center / contain;
    }
    .util {
        display: flex;
        gap: 10px;
        .link {
            padding: 0 10px;
            border-radius: 4px;
            line-height: 30px;
            font-size: 15px;
            font-weight: 700;
            color: var(--color-white);
        }
        .link-login {
            border: 1px solid var(--color-white);
            background-color: transparent;
        }
        .link-qna {
            border: 1px solid var(--color-red);
            background-color: var(--color-red);
        }
    }
    .mMenuBtn {
        display: none;
    }
}

// header-scroll
#header.scroll {
    background: var(--color-white);
    &::after{
        display:block;
        content:"";
        position:absolute;
        bottom:0;
        left:0;
        z-index:0;
        width:100%;
        height:1px;
        background:var(--border-color);
    }
    .headerArn {
        h1 img {
            content: url("../../images/common/logo-on.svg");
        }
        .link-login {
            border-color: #707070;
            color: #707070;
        }
    }
    .gnb {
        > li > a {
            color: var(--color-black);
            &:hover,
            &:active,
            &:focus {
                color: var(--color-red);
            }
        }
    }
}

/* GNB */
.gnb {
    display: flex;
    > li > a {
        display: block;
        position: relative;
        padding: 0 30px;
        line-height: 100px;
        font-size: 19px;
        font-weight: 700;
        color: var(--color-white);
        &:hover,
        &:focus,
        &:active {
            font-weight: var(--bold);
            color: var(--color-red);
            &::after {
                display: block;
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                z-index:1;
                width: 100%;
                height: 3px;
                background: var(--color-red);
            }
        }
    }
    .gnbOpen {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 48px 0 140px;
        border-top: 1px solid var(--border-color);
        width: 100%;
        height: auto;
        background: var(--color-white);
        > ul {
            margin: 0 auto;
        }
        > ul > li > a {
            display: block;
            position: relative;
            font-size: 22px;
            font-weight: 500;
        }
        .depth02 {
            display: flex;
            flex-wrap:wrap;
            align-items: flex-start;
            justify-content: center;
            gap: 0 60px;
            padding: 0;
            > li{
                flex:0 0 auto;
                white-space:nowrap;
            }
            > li > a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 20px;
                line-height: normal;
                font-size: 22px;
                font-weight: var(--medium);
                color: var(--color-gray);
                &::before {
                    display: block;
                    content: "";
                    margin-right: 12px;
                    border-radius: 100%;
                    width: 8px;
                    height: 8px;
                    background: var(--border-color);
                }
            }
        }
        .depth03 {
            li {
                &:not(:last-child) a {
                    margin-bottom: 12px;
                }
                a {
                    display: inline-flex;
                    padding: 0 0 0 20px;
                    min-width: 161px;
                    font-size: 17px;
                    font-weight: var(--regular);
                    color: var(--color-lightGray);
                    &:hover,
                    &:focus,
                    &:active,
                    &:focus-within {
                        color: var(--color-red);
                    }
                }
            }
        }
    }
}

/* FOOTER */
#footer {
    background: var(--color-black);
}
.footerTop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #666;
    .footerMenu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 52px;
        a {
            display: block;
            line-height: 20px;
            font-size: 17px;
            color: #ccc;
        }
        p {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 5px;
                left: -26px;
                width: 1px;
                height: 10px;
                background: #aaa;
            }
        }
        .prvcPlcy {
            a {
                font-weight: 700;
                color: var(--color-white);
            }
            &:before {
                display: none;
            }
        }
        ul {
            display: flex;
            gap: 52px;
            li {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: -26px;
                    width: 1px;
                    height: 10px;
                    background: #aaa;
                }
            }
        }
    }
    .familySite {
        position: relative;
        width: 152px;
        .site {
            display: block;
            overflow: hidden;
            line-height: 20px;
            font-size: 17px;
            font-weight: 700;
            color: var(--color-white);
            background: url("../../images/common/ico-more.svg") no-repeat center right / 14px auto;
        }
        ul {
            display: none;
            position: absolute;
            bottom: 40px;
            left: 0;
            overflow: hidden;
            border: 1px solid var(--border-color);
            border-radius: 4px;
            border-radius: 6px;
            width: 100%;
            background: var(--color-white);
            li {
                line-height: 1.5;
                a {
                    display: block;
                    padding: 10px;
                    color: var(--color-black);
                    &:hover {
                        color: var(--color-white);
                        background: var(--color-black);
                        transition: all 0.2s;
                        -moz-transition: all 0.2s;
                        -webkit-transition: all 0.2s;
                        -o-transition: all 0.2s;
                    }
                }
            }
        }
    }
}
.footerBottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 0 66px;
    .footerInfo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        .logo {
            margin-bottom: 20px;
            width: 264px;
            height: 38px;
            text-indent: -9999px;
            background: url("../../images/common/logo-footer.png") no-repeat center / 100% auto;
        }
        .address {
            line-height: 1.5;
            font-size: 15px;
            color: var(--color-white);
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            li {
                display: flex;
                gap: 30px;
                position: relative;
                font-size: 15px;
                color: var(--color-white);
                + li:before {
                    content: "";
                    position: absolute;
                    top: 6px;
                    left: -15px;
                    width: 1px;
                    height: 10px;
                    background: #aaa;
                }
            }
            span {
                position: relative;
                + span:before {
                    content: "";
                    position: absolute;
                    top: 6px;
                    left: -15px;
                    width: 1px;
                    height: 10px;
                    background: #aaa;
                }
            }
        }
        .copy {
            line-height: 1.5;
            font-size: 15px;
            color: #aaa;
        }
    }
    .footerSns {
        display: flex;
        gap: 15px;
        a {
            display: block;
            overflow: hidden;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            text-indent: -9999px;
        }
        li.facebook a {
            background: #333 url("../../images/common/ico-facebook.svg") no-repeat center / 100% auto;
        }
        li.youtube a {
            background: #333 url("../../images/common/ico-youtube.svg") no-repeat center / 100% auto;
        }
        li.twitter a {
            background: #333 url("../../images/common/ico-twitter.svg") no-repeat center / 100% auto;
        }
        li.instagram a {
            background: #333 url("../../images/common/ico-instagram.svg") no-repeat center / 100% auto;
        }
    }
}
@media (max-width: 767px) {
    .footerTop {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
        .footerMenu {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            p {
                &:before {
                    display: none;
                }
            }
            ul {
                li:first-child:before {
                    display: none;
                }
            }
        }
        .familySite {
            width: 100%;
        }
    }
    .footerBottom {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 40px;
        padding: 20px 0 36px;
        .footerInfo {
            .logo {
                margin-bottom: 10px;
                width: 194px;
                height: 24px;
            }
            .address {
                font-size: 13px;
            }
            ul {
                flex-direction: column;
                gap: 10px 30px;
                li {
                    font-size: 13px;
                    + li:before {
                        display: none;
                    }
                }
            }
            .copy {
                font-size: 13px;
            }
        }
        .footerSns {
            margin-left: auto;
        }
    }
}

// mobile
@media screen and (max-width: 1160px) {
    .unscroll {
    // max-height: 100vh;
    overflow: hidden;
}

#header {
    .inner {
        padding: 24px;
        height: 80px;
    }
    .headerArn {
        flex-wrap: wrap;
        &::after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            right: -100%;
            z-index: 0;
            border-bottom: 1px solid var(--border-color);
            width: 100%;
            height: 135px;
            background: #fff;
            box-sizing: border-box;
            transition: right 0.2s;
        }
        > *:not(nav) {
            position: relative;
            z-index: 1;
        }
    }
    h1 {
        a {
            width: 219px;
            height: 28px;
            text-indent: -9999px;
            background: url(../../images/common/ico-header-logo-mo.svg) no-repeat center center / contain;
        }
        .logoPc {
            display: none;
        }
    }
    // #header-active
    &.active {
        .mMenuBtn {
            background: url(../../images/common/ico-close.svg) center center / contain;
        }
        .headerArn::after {
            right: 0;
        }
        .util {
            transform: translateX(0);
        }
    }
    &.scroll.active::after {
        content: none;
    }
    .mMenuBtn {
        display: block;
        overflow: hidden;
        padding: 0;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        background: url(../../images/common/ico-menu-mo.svg) no-repeat center center / contain;
    }
    &.scroll:not(.active) .mMenuBtn {
        background: url(../../images/common/ico-menu-mo-bk.svg) no-repeat center center / contain;
    }
    &.active h1 a,
    &.scroll h1 a {
        background: url(../../images/common/ico-header-logo-mo-bk.svg) no-repeat center center / contain;
    }
    .util {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 1 0 100%;
        gap: 0 10px;
        margin-top: 25px;
        transform: translateX(100vw);
        transition: transform 0.2s;
        .link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 7px 10px;
            height: 32px;
            font-size: 15px;
            font-weight: var(--bold);
            box-sizing: border-box;
            &[class*="login"] {
                border: 1px solid var(--border-color);
                color: var(--color-lightGray);
            }
            &[class*="qna"] {
                border: 1px solid var(--color-red);
                color: var(--color-white);
            }
        }
    }
}
#header nav {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 0;
    overflow-y: auto;
    padding-top: 135px;
    border-top: 1px solid var(--border-color);
    width: 100%;
    height: 100%;
    background: #fff;
    transition: right 0.2s;
    &.active {
        right: 0;
    }
    .depth01 {
        display: block;
        > li > a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            padding: 25.5px 24px;
            border-bottom: 1px solid var(--border-color);
            height: 80px;
            line-height: normal;
            font-size: 24px;
            font-weight: var(--bold);
            color: var(--color-black);
            box-sizing: border-box;
            &:hover,
            &:focus,
            &:active {
                bottom: auto;
                left: auto;
            }
            &::before {
                display: block;
                content: "";
                position: absolute;
                top: 50%;
                right: 24px;
                z-index: 1;
                width: 14px;
                height: 2px;
                background: var(--color-black);
                transform: translateY(-50%);
            }
            &::after {
                display: block;
                content: "";
                position: absolute;
                top: 50%;
                right: 30px;
                bottom:initial;
                left:initial;
                z-index: 0;
                width: 2px;
                height: 14px;
                background: var(--color-black);
                transform: translateY(-50%);
                transition: transform 0.2s;
            }
        }
        > .active > a {
            border-bottom: 3px solid var(--color-red);
            color: var(--color-red);
            &::before {
                background: var(--color-red);
            }
            &::after {
                transform: rotate(90deg) translateX(-7px);
            }
        }
        .gnbOpen {
            position: static;
            padding: 0;
        }
    }
    .depth02 {
        flex-direction: column;
        padding: 0;
        width: 100%;
        background: #f7f7fa;
        > li {
            width: 100%;
        }
        > li a {
            display: flex;
            margin: 0;
            padding: 22px 24px;
            border-bottom: 1px solid var(--border-color);
            width: 100%;
            height: 70px;
            &::before {
                display: block;
                content: "";
                margin-right: 12px;
                border-radius: 100%;
                width: 8px;
                height: 8px;
                background: var(--border-color);
            }
        }
    }
    .depth03 {
        > li a {
            padding: 8px 44px 4px;
            height: auto;
            line-height: 30px;
            font-size: 17px;
            font-weight: var(--regular);
            color: var(--color-lightGray);
            border-style: none;
            &::before {
                content: none;
            }
            &:hover,
            &:active,
            &:focus,
            &:focus-within {
                color: var(--color-red);
            }
        }
        > li:last-child a {
            padding-bottom: 8px;
            border-bottom: 1px solid var(--border-color);
        }
    }
}
  // header end
  // header end
}

// header for pc - 1920 under
// header for pc - 1920 under
@media screen and (max-width:1320px) {
    .depth01 > li > a{
        white-space:nowrap;
        font-size:17px;
    }
    .headerArn .util{
        flex-wrap:wrap;
    }
}
@media screen and (min-width:1161px) and (max-width:1720px) {
    .depth01 {
        li:nth-child(2){
            .depth02{
                max-width:1000px;
            }
        }
    }
}

/* CONTAINER */
.container {
    margin: 120px auto 160px;
    padding: 0 20px;
    width: 1720px;
    max-width: 100%;
}
@media (max-width: 767px) {
    .container {
        margin: 80px auto 140px;
    }
}
