#main {
    section {
        margin: 120px 0;
    }
}
.titArea-main {
    margin-bottom: 40px;
    p {
        line-height: 1.5;
        font-size: 28px;
        color: var(--color-black);
    }
}
.swiperBtn {
    position: absolute;
    top: 10px;
    right: 0;
    width: 90px;
    height: 40px;
    .swiper-button-prev {
        top: 0;
        left: 0;
        margin-top: 0;
        width: 40px;
        height: 40px;
        text-indent: -9999px;
        background: url("../../images/main/btn-prev-circle.png") no-repeat center/100% auto;
    }
    .swiper-button-next {
        top: 0;
        right: 0;
        margin-top: 0;
        width: 40px;
        height: 40px;
        text-indent: -9999px;
        background: url("../../images/main/btn-next-circle.png") no-repeat center/100% auto;
    }
}
@media (max-width: 1160px) {
    .swiperBtn {
        top: 0;
    }
}
@media (max-width: 767px) {
    #main {
        section {
            margin: 80px 0;
        }
    }
    .titArea-main {
        margin-bottom: 70px;
        p {
            font-size: 18px;
        }
    }
}

/* 메인 비주얼 */
.visualSwiper {
    position: relative;
    overflow: hidden;
    height: 100vh;
    .swiper-slide {
        .imgBox-main {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .txtBox-main {
            position: absolute;
            top: 260px;
            left: 50%;
            width: calc(100% - 40px);
            max-width: 1680px;
            height: calc(100% - 260px);
            transform: translateX(-50%);
            p {
                margin-bottom: 15px; 
                line-height: 1.2;
                font-size: 32px;
                color: var(--color-white);
            }
            strong {
                display: block;
                line-height: 1.2;
                font-size: 80px;
                font-weight: 700;
                color: var(--color-white);
            }
            .btnLink {
                // position: absolute;
                // bottom: 327px;
            }
        }
        .botWrap{
            display:flex;
            flex-direction:row-reverse;
            align-items:center;
            justify-content:space-between;
            margin:66px 0 0;
            @media screen and (max-width:1160px) {
                // display:block;
                flex-direction:column-reverse;
                align-items:flex-start;
                margin:8px 0 0;
            }
            .linkWrap{
                @media screen and (max-width:1160px) {
                    width:100%;
                }
            }
            ul{
                display:flex;
                align-items:center;
                justify-content:flex-end;
                gap:20px;
                @media screen and (max-width:1160px) {
                    flex-wrap:wrap;
                    justify-content:center;
                    gap:4px;
                    margin:126px -20px 0;
                    width:100vw;
                }
                &::after{
                    display:block;
                    content:"";
                    width:calc(160px - 20px);
                    height:160px;
                    opacity:0;
                    @media screen and (max-width:1160px) {
                        content:none;
                    }
                }
                li{
                    position:relative;
                    background:rgba(0, 0, 0, 0.5);
                    border-radius:100%;
                    overflow:hidden;
                    transition:all .5s;
                    &::before{
                        position:absolute;
                        bottom:0;
                        left:0;       
                        z-index:0;                 
                        display:block;
                        content:"";
                        width:100%;
                        height:0;
                        transition:all .5s;
                    }
                    &:hover,
                    &:focus{
                        transform:translateY(-4px);
                        &::before{
                            background:var(--color-red);
                            height:100%;
                        }
                        a{
                            border-color:var(--color-red);
                        }
                    }
                }
                a{
                    position:relative;
                    z-index:1;
                    display:flex;
                    flex-direction:column;
                    align-items:center;
                    justify-content:center;
                    gap:4px;
                    width:160px; 
                    height:160px;
                    text-align:center;
                    font-size:19px;
                    font-weight:var(--bold);
                    color:var(--color-white);
                    border:2px solid #fff;
                    border-radius:100%;
                    transition:all .8s;
                    transform-origin: bottom;
                    @media screen and (max-width:1160px) {
                        padding:0;
                        font-size:17px;
                        line-height:1.25;
                        width:110px;
                        height:110px;
                    }
                    &::before{
                        display:block;
                        content:"";
                        width:52px;
                        height:52px;
                        @media screen and (max-width:1160px) {
                            width:32px;
                            height:32px;
                        }                        
                    }
                    &::after{
                        display:block;
                        content:"";
                        width:20px;
                        height:20px;
                        background:url(../../images/main/ico-arrow-white-20.svg)no-repeat center center / contain;
                    }
                    &:focus{
                        background:var(--color-red);
                    }
                }
                li:nth-child(1){
                    @media screen and (max-width:767px) {
                        margin-left:calc((100% - 228px) / 2)
                    }
                }
                li:nth-child(2){
                    @media screen and (max-width:767px) {
                        margin-right:calc((100% - 228px) / 2)
                    }
                }
                .icoNum01{                    
                    a::before{
                        background:url(../../images/main/ico-visual-list01.svg)no-repeat center center / contain;
                    }
                }
                .icoNum02{                    
                    a::before{
                        background:url(../../images/main/ico-visual-list02.svg)no-repeat center center / contain;
                    }
                }
                .icoNum03{
                    a::before{
                        background:url(../../images/main/ico-visual-list03.svg)no-repeat center center / contain;
                    }
                }
                .icoNum04{
                    a::before{
                        background:url(../../images/main/ico-visual-list04.svg)no-repeat center center / contain;
                    }
                }
                .icoNum05{
                    a::before{
                        background:url(../../images/main/ico-visual-list05.svg)no-repeat center center / contain;
                    }
                }
                .icoNum06{
                    a::before{
                        background:url(../../images/main/ico-visual-list06.svg)no-repeat center center / contain;
                    }
                }
                .icoNum07{
                    a::before{
                        background:url(../../images/main/ico-visual-list07.svg)no-repeat center center / contain;
                    }
                }
                .icoNum08{
                    a::before{
                        background:url(../../images/main/ico-visual-list08.svg)no-repeat center center / contain;
                    }
                }
                .icoNum09{
                    a::before{
                        background:url(../../images/main/ico-visual-list09.svg)no-repeat center center / contain;
                    }
                }
                .icoNum10{
                    a::before{
                        background:url(../../images/main/ico-visual-list10.svg)no-repeat center center / contain;
                    }
                }
                .icoNum11{
                    a::before{
                        background:url(../../images/main/ico-visual-list11.svg)no-repeat center center / contain;
                    }
                }
                .icoNum12{
                    a::before{
                        background:url(../../images/main/ico-visual-list12.svg)no-repeat center center / contain;
                    }
                }
                .icoNum13{
                    a::before{
                        background:url(../../images/main/ico-visual-list13.svg)no-repeat center center / contain;
                    }
                }
            }
        }
    }
    .scrollDown {
        position: absolute;
        bottom: 54px;
        left: 50%;
        z-index: 5;
        padding-top: 46px;
        font-size: 14px;
        font-weight: 700;
        color: var(--color-white);
        background: url("../../images/main/ico-mouse.svg") no-repeat center top/40px auto;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        animation:scroll 2s infinite
    }
}
@keyframes scroll{
	0% {opacity:0; margin-bottom:1.4vw}
	50% {opacity:1; margin-bottom:0}
	100% {opacity:0; margin-bottom:1.4vw}
}
.visualSwiperBtn {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 217px;
    left: 50%;
    z-index: 5;
    width: calc(100% - 40px);
    max-width: 1680px;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    .swiper-pagination {
        display: flex;
        align-items: center;
        gap: 20px;
        position: static;
        margin-right: 20px;
        width: auto;
        .swiper-pagination-bullet {
            margin: 0;
            background: #999;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background: var(--color-red);
        }
    }
    .visualSwiperBtnBox {
        display: flex;
        gap: 20px;
    }
    .swiper-button-prev {
        position: static;
        margin-top: 0;
        width: 20px; 
        height: 20px;
        text-indent: -9999px;
        background: url("../../images/main/btn-prev.svg") no-repeat center/16px auto;
    }
    .swiper-button-next{
        position: static;
        margin-top: 0;
        width: 20px; 
        height: 20px;
        text-indent: -9999px;
        background: url("../../images/main/btn-next.svg") no-repeat center/16px auto;
    }
    .swiper-button-stop {
        width: 20px; 
        height: 20px;
        text-indent: -9999px;
        background: url("../../images/main/btn-stop.svg") no-repeat center/16px auto;
        cursor: pointer;
    }
    .swiper-button-stop.start {
        background-image: url("../../images/main/btn-start.svg");
    }
}
@media screen and (max-width:1160px) {
    .visualSwiper {
        height:910px;
    }
}
@media (max-width: 767px) {
    .visualSwiper {
        min-height:100vh;
        .swiper-slide {
            .txtBox-main {
                top: 110px;
                height: calc(100% - 110px);
                p {
                    font-size: 17px;
                }
                strong {
                    min-height:216px;
                    font-size: 60px;
                }
                // 20241211 삭제 ljn
                // .btnLink {
                //     bottom: 492px; 
                // }
            }
        }
        .scrollDown {
            display: none;
        }
    }
    .visualSwiperBtn {
        flex-direction: column;
        align-items: flex-start;
        bottom: 416px;
        @media screen and (max-width:1160px) {
            flex-direction:initial;
            align-items: center;
            bottom:initial;
            top:479px;
        }
        .visualSwiperBtnBox {
            margin-left: -6px;
        }
    }
}
@media (max-width: 390px) {
    .visualSwiper {
        .swiper-slide {
            .txtBox-main {
                p {
                    font-size: 15px;
                }
                strong {
                    font-size: 50px;
                }
            }
        }
    }
}

/* 메인 콘텐츠 1단 */
.mainCont01 {
    display: flex;
    gap: 20px;
    .imgBox-main {
        position: relative;
        .imgWrap{
            height:100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .txtBox-main {
            position: absolute;
            right: 50px;
            bottom: 50px;
            left: 50px;
            color: var(--color-white);
            strong {
                display: block;
                line-height: 1.2;
                font-size: 2.7vw;
                font-weight: 400;
            }
            p {
                margin-top: 20px;
                line-height: 1.2;
                font-size: 17px;
            }
        }
    }
    .lt {
        width: 56%;
        .imgBox-main {
            height: 620px;
        }
    }
    .rt {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 44%;
        .imgBox-main {
            height: 300px;
        }
    }
    @media screen and (min-width:1161px) {
        // hover Action
        .imgBox-main{
            position:relative;
            box-sizing:border-box;
            &::before{
                position:absolute;
                bottom:0;
                left:0;
                z-index:1;
                display:block;
                content:"";
                width: 100%;
                height:0;
                background:var(--color-red);
                transition:height .3s;
            }
            .imgWrap{
                overflow:hidden;
                border:0px solid rgba(0, 0, 0, 0);
                transition:border .3s;
                img{
                    transition:transform .3s;
                    transform:scale(1);
                    transform-origin:center;
                }
            }
            .imgWrap{
                height:100%;
            }
            .txtBox-main{
                z-index:1;
                transition:transform .3s;
                transform:scale(1);
            }
            &:hover,
            &:active{
                &::before{
                    height:137px;
                }
                .imgWrap{
                    border:8px solid var(--color-red);
                    img{
                        transform:scale(1.2);
                    }
                }
                .txtBox-main{
                    transform:scale(1.03);
                }
            }
        }
    }
}
@media (max-width: 1160px) {
    .mainCont01 {
        flex-direction: column;
            .imgBox-main {
                .txtBox-main {
                    bottom: 30px;
                    left: 30px;
                    strong {
                        font-size: 38px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
            .lt {
                width: 100%;
                .imgBox-main {
                    height: 316px;
                }
            }
            .rt {
                width: 100%;
                .imgBox-main {
                    height: 242px;
                }
            }
    }
}
@media (max-width: 767px) {
    .mainCont01 {
        .imgBox-main {
            .txtBox-main {
                bottom: 20px;
                left: 20px;
                strong {
                    font-size: 25px;
                }
                p {
                    display: none;
                }
            }
        }
        .lt {
            .imgBox-main {
                height: 216px;
            }
        }
        .rt {
            .imgBox-main {
                height: 142px;
            }
        }
    }
}

/* 메인 콘텐츠 2단 */
.mainCont02 {
    position: relative;
    margin: 0 -20px 0;
    padding: 0 20px 60px;
    .swiper-wrapper {
        height: auto;
        @media screen and (min-width:1161px) {
            margin-top:4px;
        }
    }
    .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: calc(40px - 8px) calc(30px - 8px);
        border:1px solid #eee;
        border-radius: 20px;
        height: 340px;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
        @media screen and (min-width:1161px) {
            flex:0 0 380px;
            border:8px solid rgba(255, 255, 255, 0);
            transition:all .3s;
            &:hover,
            &:active{
                border:8px solid var(--color-red);
                transform:translateY(-4px);
                p{
                    font-weight:var(--bold);
                }
            }
        }
        p {
            padding-bottom: 50px;
            height: 72px;
            line-height: 1.2;
            font-size: 30px;
            color: var(--color-black);
            background: url("../../images/main/ico-arrow-right-40.png") no-repeat left bottom/40px auto;
            box-sizing: content-box;
        }
        img {
            margin-left: auto;
            width: 80px;
            height: 80px;
        }
    }
    .swiperBtn {
        top:0px;
        right: 20px;
        @media screen and (min-width:1161px) {
            top:-48px;
            transform:translateY(-100%);        
        }
    }
}
@media (max-width: 1280px) {
    .mainCont02 {
        .swiper-slide {
            height:300px;
            p {
                font-size: 26px;
            }
        }
    }
}
@media (max-width: 1160px) {
    .mainCont02 {
        margin-top: -40px;
        padding-top: 90px;
        .swiper-slide {
            width: 260px !important;
        }
    }
}
@media (max-width: 767px) {
    .mainCont02 {
        margin-top: -70px;
        .swiper-slide {
            p {
                font-size: 30px;
            }
        }
        
    }
}

/* 메인 콘텐츠 3단 */
.mainCont03 {
    display: flex;
    gap: 40px;
    position: relative;
    padding-top: 30px;
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vw;
        height: 300px;
        background: #FEF2F3;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .insightTit {
        flex-shrink: 0;
        width: 260px;
        p {
            line-height: 1.5;
            font-size: 30px;
            font-weight: 700;
            color: var(--color-black);
        }
    }
    .insightSwiper {
        position: relative;
        overflow: hidden;
        margin-top: -120px;
        margin-right:calc(var(--right) * -1);
        padding: 120px 0 80px;
        .swiperBtn {
            top: 5px;
            right:calc((100vw - 1680px - 15px) / 2);
        }
    }
    .swiper-slide {
        flex: none;
        width: 485px !important;
        background: var(--color-white);
        .companyLabel {
            position: absolute;
            top: 20px;
            left: 20px;
            padding: 6px 10px;
            border-radius: 4px;
            font-size: 15px;
            color: var(--color-red);
            background: var(--color-white);
        }
        .imgWrap {
            .linkWrap {
                right: 20px;
            }
        }
    }
    .swiper-scrollbar {
        bottom: 10px;
        left: 0;
        border-radius: 6px;
        height: 3px;
        background: #FEF2F3;
        .swiper-scrollbar-drag {
            background: rgba(0, 0, 0, 0.60);
        }
    }
}
@media screen and (min-width:1720px) {
    .mainCont03{
        .insightSwiper{
            margin-right:calc((var(--right) - 9px) * -1);
        }
    }
}
@media (max-width: 1160px) {
    .mainCont03 {
        .insightTit {
            width: 190px;
            p {
                font-size: 24px;
            }
        }
    }
}
@media (max-width: 767px) {
    .mainCont03 {
        gap: 0;
        margin-top: 0;
        &:before {
            height: 248px;
        }        
        .insightTit {
            display: none;
        }
        .insightSwiper {
            margin:-190px -20px 0;
            padding: 190px 20px 80px;
            .swiperBtn {
                top: 0;
                right:20px;
            }
        }
        .swiper-slide {
            width: 340px !important;
            &:not(:last-child){
                margin:0;
            }
            .infoWrap {
                padding: 16px 0;
                .infoList {
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        li {
                            flex: 1 1 50%;
                            width:50%;
                            span {
                                overflow: hidden;
                                text-overflow:ellipsis;
                                white-space: nowrap;
                            }
                        }
                        li:nth-child(even) {
                            flex: 1 1 50%;
                            width:50%;
                        }
                    }
                    
                }
            }
        }
    }
}

/* 메인 콘텐츠 4단 */
.mainCont04 {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 80px;
    margin-top: 80px;
    .board {
        flex: 1;
        position: relative;
        width: 100%;
        .boardTit {
            padding-bottom: 20px;
            border-bottom: 1px solid var(--color-dark);
            span {
                position: relative;
                padding-bottom: 20px;
                line-height: 1.5;
                font-size: 30px;
                font-weight: 700;
                color: var(--color-black);
                &:before {
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background: var(--color-red);
                }
            }
        }
        ul {
            margin-top: 32px;
            li {
                margin-top: 20px;
                border-bottom: 1px solid var(--gray30);
                a {
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                    padding: 4px 0;
                    font-size: 20px;
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        max-width: 340px;
                        color: var(--color-dark);
                    }
                    span {
                        flex-shrink: 0;
                        width: 100px;
                        color: var(--color-text);
                    }
                }
            }
        }
        .btnMore {
            position: absolute;
            top: 2px;
            right: 0;
            width: 40px;
            height: 40px;
            text-indent: -9999px;
            background: url("../../images/main/btn-more.svg") no-repeat center/100% auto;
        }
    }
}
@media (max-width: 1551px) {
    .mainCont04 {
        .board:last-child {
            ul {
                li {
                    a {
                        p {
                            max-width: 1000px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1160px) {
    .mainCont04 {
        flex-direction: column;
        gap: 80px;
    }
}

/* 메인 콘텐츠 5단 */
.mainCont05 {
    padding-top: 80px;
    height: 900px;
    background: url("../../images/main/bg-02.png") no-repeat center/cover;
    .inner {
        height: 100%;
    }
    .spaceArn {
        display: flex;
        height: 100%;
        .lt {
            flex-shrink: 0;
            .titArea-main {
                p,
                h3 {
                    color: var(--color-white);
                }
            }
        }
        .rt {
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                gap: 20px;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 10px;
                    border-radius: 20px;
                    width: calc(33.333% - 40px);
                    height: 200px;
                    background: rgba(0, 0, 0, 0.50);
                }
            }
        }
    }
}
@media (max-width: 1280px) {
    .mainCont05 {
        .spaceArn {
            flex-direction: column;
            .rt {
                ul {
                    justify-content: center;
                    li {
                        height: 160px;
                        img {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .mainCont05 {
        padding-top: 50px;
        .spaceArn {
            flex-direction: column;
            .rt {
                ul {
                    justify-content: flex-start ;
                    li {
                        width: calc(50% - 10px);
                        height: 100px;
                    }
                }
            }
        }
    }
}
// @media (max-width: 1500px) {
//     .mainCont05 {
//         padding-top: 100px;
//         height: 68vw;
//         .spaceArn {
//             .rt {
//                 ul {
//                     grid-template-columns: repeat(auto-fill, minmax(160px, 160px));
//                     grid-template-rows: repeat(auto-fill, minmax(160px, 160px));
//                     gap: 10px;
//                     li {
//                         img {
//                             width: 90%
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
// @media (max-width: 1160px) {
//     .mainCont05 {
//         padding: 80px 0;
//         height: 810px;
//         box-sizing: content-box;
//         .spaceArn {
//             flex-direction: column;
//             .lt {
//                 p {
//                     font-size: 36px;
//                 }
//             }
//             .rt {
//                 ul {
//                     justify-content: center;
//                 }
//             }
//         }
//     }
// }
// @media (max-width: 767px) {
//     .mainCont05 {
//         padding: 50px 0;
//         .spaceArn {
//             gap: 30px;
//             .lt {
//                 p {
//                     font-size: 30px; // 32px;
//                 }
//             }
//             .rt {
//                 ul {
//                     grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
//                     grid-template-rows: repeat(auto-fill, minmax(100px, 100px));
//                     gap: 20px;
//                 }
//             }
//         }
//     }
// }
// @media (max-width: 390px) {
//     .mainCont05 {
//         padding-bottom: 0;
//         .spaceArn {
//             .rt {
//                 ul {
//                     grid-template-columns: repeat(auto-fill, minmax(80px, 80px));
//                     grid-template-rows: repeat(auto-fill, minmax(80px, 80px));
//                     gap: 10px;
//                 }
//             }
//         }
//     }
// }