@charset "utf-8";
/*>>>>>>>>>> 공통 <<<<<<<<<<*/
/* 가리기 */
.hide {position: absolute; top: -9999px; left: -9999px; width: 1px; height: 1px; opacity: 0;}

/* 타이틀 & 네비게이션 */
h2 {line-height: 1.5; letter-spacing: -0.84px; font-size: 28px; color: var(--color-input);}
h3 {line-height: 1.5; letter-spacing: -0.72px; font-size: 24px; font-weight: 700; color: var(--color-input);}
.titArea {display: flex; align-items: center; justify-content: space-between; flex-wrap: nowrap; margin-bottom: 20px; border-bottom: 3px solid var(--color-primary);}
.titArea .tit {display: flex; align-items: center; gap: 8px;}
.titArea .tit .titInfo {letter-spacing: -0.48px; font-size: 16px; color: var(--color-base);}
.titArea .location {display: flex; align-items: center; gap: 22px}
.titArea .location li {position: relative; font-size: 13px; color: var(--color-base);}
.titArea .location li:first-child {width: 32px; height: 32px; text-indent: -9999px; background: url("../images/ico-home.svg") no-repeat center/100% auto;}
.titArea .location li:last-child {font-weight: 700; color: var(--color-primary);}
.titArea .location li + li:before {content: ""; position: absolute; top: 0; left: -14px; width: 6px; height: 100%; background: url("../images/ico-arrow-nav.svg") no-repeat center/6px auto;}

/* 버튼 */
.btn {display: inline-block; padding: 0 12px; border-radius: 4px; min-width: 80px; text-align: center; line-height: 34px; font-size: 16px; font-weight: 700; cursor: pointer;}
.btnS {line-height: 30px; font-size: 14px;}
.btnL {line-height: 48px; font-size: 18px; font-weight: 700;}

/* 버튼 색상 */
.btnBlue {border: 1px solid #0F53F5; color: #fff; background: #0F53F5;}
.btnNavy {border: 1px solid var(--color-primary); color: var(--color-white); background: var(--color-primary);} 
.btnGray {border: 1px solid var(--color-gray); color: var(--color-white); background: var(--color-gray);} 
.btnlNavy {border: 1px solid var(--color-primary); color: var(--color-primary); background: var(--color-white);} 

/* 버튼정렬 */
.btnBottom {display: flex; justify-content: center; position: relative; margin-top: 20px;}
.btnBottom > div {display: flex; gap: inherit;}
.btnBottom > .lt {display: flex; gap: 8px; margin-right: auto;}
.btnBottom > .ct {display: flex; gap: 8px; margin: 0 auto;}
.btnBottom > .rt {display: flex; gap: 8px; margin-left: auto;}
.btnBottom .paging {position: absolute; top: 2px; margin-top: 0;}

/* 인풋 */
input {padding: 0 12px; border: 1px solid var(--border-input); border-radius: var(--border-radius); width: 240px; max-width: 100%; line-height: 34px; font-size: 16px; color: var(--color-input); background: var(--color-white);}
select {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 0 24px 0 12px; border: 1px solid var(--border-input); border-radius: var(--border-radius); width: 240px; line-height: 34px; font-size: 16px; color: var(--color-input); background: var(--color-white) url("../images/ico-select.svg") no-repeat center right 12px/8px auto; appearance: none;}
textarea {overflow-y: auto; padding: 0 12px; border: 1px solid var(--border-input); border-radius: var(--border-radius); width: 100%; height: 100px; line-height: 34px; font-size: 16px; font-family: "Pretendard GOV", sans-serif;; color: var(--color-input); resize: none;}

/* 체크박스 & 라디오 */
.checkbox {display: inline-block; position: relative;}
.checkbox input:first-child {position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%; opacity: 0;}
.checkbox input + label {display: inline-block; position: relative; padding-left: 26px; line-height: 38px; cursor: pointer;}
.checkbox input + label + * {margin-left: 10px;}
.checkbox input[type=radio] + label:before {display: block; content: ""; position: absolute; top: 8px; left: 0; width: 22px; height: 22px; background: url("../images/radio.svg") no-repeat center;}
.checkbox input[type=radio]:checked + label:before {background-image:url("../images/radio-on.svg");}
.checkbox input[type=checkbox] + label:before {display: block; content: ""; position: absolute; top: 9px; left: 0; width: 20px; height: 20px; background: url("../images/checkbox.svg") no-repeat center;}
.checkbox input[type=checkbox]:checked + label:before {background-image:url("../images/checkbox-on.svg");}
.checkbox.only input + label {padding-left: 0; min-width: 20px; width: 20px; text-indent: -9999px;}
.checkboxWrap {display: flex; gap: 8px;}

/* 데이터피커 */
.dateWrap {display: flex;}
.dateWrap > * + * {margin-left: 8px;}
.dateWrap em {display: flex; align-items: center; justify-content: center;}
.date {position: relative; width: 140px;}
.date input {padding-right: 32px; width: 100%; cursor: pointer;}
.date img {position: absolute; top: 9px; right: 12px; cursor: pointer;}

/* 폼 */
.flex {display: flex; gap: 8px;}
.flex.col {flex-direction: column;}
.phone {display: flex; gap: 8px;}
.phone input {width: 100px;}
.fileArea {display: flex; align-items: center; gap: 8px; position: relative; max-width: 408px;}
.fileArea input[type=text] {flex: 1;}
.fileArea input[type=file] {position: absolute; top: 0; left: 0; width: 80px; height: 100%; opacity: 0; cursor: pointer !important;}
.fileArea .btnDel {width: 24px; height: 36px; text-indent: -9999px; background: url("../images/btn-minus.svg") no-repeat center/24px auto}
.btnAdd {width: 24px; height: 36px; text-indent: -9999px; background: url("../images/btn-add.svg") no-repeat center/24px auto}

/* 공통 추가 */
.addArea {display: flex; align-items: end;}
.addArea > * + * {margin-left: 8px;}
.addArea .addBox > * + * {margin-top: 6px;}

/* 검색영역 */
.searchArea {display: flex; flex-wrap: wrap; gap: 8px; margin-bottom: 20px;}
.searchArea .rt {display: flex; flex-wrap: wrap; align-items: center; gap: 8px; margin-left: auto;}
.searchArea .el {display: flex; flex-wrap: wrap; gap: 8px;}
.searchArea > span {line-height: 36px; font-size: 16px; color: var(--color-input);}

/* 테이블 상단 */
.tableTop {display: flex; align-items: center; margin-top: 40px; margin-bottom: 8px;}
.tableTop:first-child {margin-top: 0;}
.tableTop .lt {margin-right: auto;}
.tableTop .lt .allNum {font-size: 15px; color: #707070;}
.tableTop .lt .allNum strong {font-weight: 700; color: var(--color-blue);}
.tableTop .rt {margin-left: auto;}

/* 테이블 */
div[class$="Table"] + div[class$="Table"] {margin-top: 20px;}
.req {display: inline-block; position: relative; padding-left: 10px; text-indent: -9999px;}
.req:before {content: ""; position: absolute; top: 0; left: 0; width: 8px; height: 100%; background: url("../images/ico-req.svg") no-repeat center left/8px auto;}

/* COL 테이블 */
.colTable {border-top: 2px solid var(--color-input);}
.colTable table {table-layout: fixed;}
.colTable table th,
.colTable table td {padding: 8px; border-bottom: 1px solid var(--border-color); height: 48px; text-align: center; font-size: 16px; color: var(--color-placeholder);}
.colTable table th {background: #F7F7FA;}
.colTable table a {text-decoration: underline; color: var(--color-primary);}

/* row 테이블 */
.rowTable {border-top: 2px solid var(--color-input)}
.rowTable table {table-layout: fixed;}
.rowTable table th,
.rowTable table td {padding: 6px; border-bottom: 1px solid var(--border-color); height: 48px; text-align: left; font-size: 16px; color: var(--color-placeholder);}
.rowTable table th {border-right: 1px solid var(--border-color); vertical-align: middle; text-align: center; background: #F7F7FA;}

/* 페이징 */
.paging {display: flex; align-items: center; justify-content: center; margin-top: 20px;}
.paging * {display: block; margin: 0 2px; width: 32px; text-align: center; line-height: 30px; font-size: 15px; color: #707070;}
.paging strong {border: 1px solid var(--color-primary); border-radius: 50%; font-weight: 700; color: var(--color-white); background: var(--color-primary);}
.paging .btnFirst,
.paging .btnPrev,
.paging .btnNext,
.paging .btnLast {margin: 0 2px; height: 32x; text-indent: -9999px; background: no-repeat center;}
.paging .btnFirst {background-image: url("../images/btn-first.svg");}
.paging .btnPrev {margin-right: 4px; background-image: url("../images/btn-prev.svg");}
.paging .btnNext {margin-left: 4px; background-image: url("../images/btn-next.svg");}
.paging .btnLast {background-image: url("../images/btn-last.svg");}

/* 탭 */
.tabWrap > ul {display: flex; margin-bottom: 40px;}
.tabWrap > ul li {flex: 1;}
.tabWrap > ul li + li {margin-left: -1px;}
.tabWrap > ul li a {display: block; border: 1px solid var(--border-color); text-align: center; line-height: 46px; font-size: 20px; font-weight: 700; color: var(--color-placeholder); background: var(--color-white); transition: all 0.2s; -webkit-transition: all 0.2s; -moz-transition: all 0.2s;}
.tabWrap > ul li.curr a {border-color: var(--color-primary); color: #fff; background: var(--color-primary);}

/* 팝업 */
.layerPop {display: none; position: fixed; top: 0; left: 0; z-index: 1000; width: 100%; height: 100%; background: rgba(0,0,0,0.70);}
.layerPop > .inner {overflow: hidden; position: fixed; top: 50%; left: 50%; padding: 60px 0 0; border-radius: 10px; max-width: 90%; max-height: 90%; background: #fff; transform: translate(-50%, -50%) scale(0); -webkit-transform: translate(-50%, -50%) scale(0); -moz-tansform: translate(-50%, -50%) scale(0); transition: all 0.2s; -webkit-transition: all 0.2s; -moz-transition: all 0.2s;box-sizing: border-box;}
.layerPop > .inner .tit {display: block; position: absolute; top: 0; left: 30px; right: 30px; border-bottom: 1px solid var(--border-color); line-height: 58px; font-size: 22px; font-weight: 700; color: var(--color-input);}
.layerPop > .inner .layerCont {overflow-y: auto; padding: 20px 30px;}
.layerPop > .inner > a {display: flex; align-items: center; justify-content: center; position: absolute; top: 20px; right: 30px; width: 24px; height: 24px; text-indent: -9999px; background: url("../images/btn-close.svg") no-repeat center;}
.layerPop.on > .inner {transform: translate(-50%, -50%) scale(1); -webkit-transform: translate(-50%, -50%) scale(1); -moz-transform: translate(-50%, -50%) scale(1);}
.layerPop.alert > .inner {padding-top: 0; width: 400px;}
.layerPop.alert > .inner .layerCont {padding: 64px 30px 40px; text-align: center;}
.layerPop.alert > .inner .layerCont p {line-height: 1.5; font-size: 16px; color: var(--color-input);}
.comment {overflow-y: auto; padding: 12px; border: 1px solid var(--border-color); border-radius: var(--border-radius); height: 100px; line-height: 1.5; color: var(--color-input);}

/* noticePop */
.notiPop {display:flex; position:fixed; z-index:100; padding:0 18px; border-radius:15px; border:1px solid #000; box-shadow:0 0 30px rgba(0,0,0,.02); transform:translate(-50%, 0); -webkit-transform:translate(-50%, 0); -moz-transform:translate(-50%, 0); background:#fff; opacity:0; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
.notiPop > * {line-height:28px; font-size:12px; color:#000}
.notiPop strong {margin-right:5px; font-weight:700}
.notiPop .btnClose {display:flex; align-items:center; justify-content:end; margin-left:18px; color:#000}
.notiPop .btnClose i {font-size:18px}
.notiPop.on {margin-bottom:50px; opacity:1}

/* 정렬 */
.mAuto {margin: 0 auto !important}
.jcCenter {justify-content: center !important;}

/* 사이즈 */
.w100 {width: 100px !important}
.wfull {width: 100% !important}

/* 로딩 */
.loading {position:absolute; top:0; right:0; width:calc(100% - 280px); height:100vh; backdrop-filter: blur(2px)}
.loading span {position:absolute; top:50%; left:50%; width:80px; height:80px; text-indent:-9999px; background:url("../images/ico-loading.gif") no-repeat center/100% auto; transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%)}

/*>>>>>>>>>> 페이지 <<<<<<<<<<*/
/* 로그인 */
.loginWrap {display: flex; align-items: center; justify-content: center; padding: 0 !important; background: url("../images/bg-login.svg") no-repeat center/cover;}
.loginWrap .inner {padding: 0 40px 40px; border-radius: 20px; box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.32); width: 480px; background: #F5F6FA;}
.loginWrap .inner h1 {display: flex; align-items: center; justify-content: center; margin: 0 -40px 40px; padding: 40px; border-bottom: 3px solid var(--color-primary); height: 138px; font-size: 24px;}
.loginWrap .inner h1 img {max-width: 100%; max-height: 100%;}
.loginWrap .inner ul li {display: flex; justify-content: space-between ;}
.loginWrap .inner ul li + li {margin-top: 10px;}
.loginWrap .inner ul li > input {padding: 0 20px; border-radius: 8px; border: 1px solid var(--border-color); width: 100%; height: 50px; font-size: 16px;}
.loginWrap .inner .btnBottom {margin-top: 30px;}
.loginWrap .inner .btnBottom .btn {flex: 1;}