/* 텍스트 */
.cRed {
    color: var(--color-red);
}
.cBlack {
    color: var(--color-dark);
}
.cGray {
    color: var(--gray60);
}
.aLink {
    display: block;
    overflow: hidden;
    text-decoration: underline;
    color: var(--color-text);
}

/* 팝업 */
.layerPop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.70);
    .inner {
        overflow: hidden;
        position: fixed;
        top: 50%;
        left: 50%;
        padding: 72px 0 0;
        border-radius: 20px;
        max-width: 90%;
        max-height: 90%;
        background: #fff;
        transform: translate(-50%, -50%) scale(0);
        transition: all 0.2s;
        box-sizing: border-box;
        .tit {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            padding: 0 32px;
            border-bottom: 1px solid var(--border-color);
            line-height: 72px;
            font-size: 24px;
            font-weight: 700;
            color: var(---color-dark);
            &::before {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 74px;
                height: 3px;
                background: var(--color-red);
            }
        }
        .layerCont {
            overflow-y: auto;
            padding: 32px;
            line-height: 1.5;
            letter-spacing: -0.6px;
            font-size: 20px;
            color: var(--color-text);
        }
        > a {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 24px;
            right: 32px;
            width: 24px;
            height: 24px;
            text-indent: -9999px;
            background: url("../images/icon/ico-close.svg") no-repeat center;
        }
    }
    .btnBox {
        margin-top: 32px;
    }
    &.on {
        .inner {
            transform: translate(-50%, -50%) scale(1);
        }
    }
}
@media (max-width: 767px) {
    .layerPop {
        .inner {
            .tit {
                padding: 0 16px;
                font-size: 20px;
            }
            .layerCont {
                padding: 32px 16px;
            }
            > a {
                right: 16px;
            }
        }
    }
}
@media (max-width: 767px) {
    .layerPop {
        .inner {
            .layerCont {
                font-size: 17px;
            }
        }
    }
}

/* 이용약관 */
.whiteBox.v2 {
    padding: 50px 40px;
    width: 1320px;
}
.joinProcess {
    margin-bottom: 40px;
    ol {
        display: flex;
        justify-content: center;
        gap: 80px;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding-top: 96px;
            width: 80px;
            line-height: 1.5;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 80px;
                height: 80px;
                border: 1px solid var(--border-color);
                border-radius: 50%;
                box-sizing: border-box;
                transform: translateX(-50%);
            }
            + li::after {
                content: "";
                position: absolute;
                top: 40px;
                left: -80px;
                width: 80px;
                height: 1px;
                background: var(--border-color);
            }
            strong {
                display: block;
                margin-bottom: 4px;
                letter-spacing: -0.45px;
                font-size: 15px;
                font-weight: 700;
                color: var(--color-text);
            }
            p {
                white-space: nowrap;
                font-size: 17px;
                color: var(--color-text);
            }
            &.curr {
                strong {
                    color: var(--color-red);
                }
                p {
                    color: var(--color-dark);
                }
            }
        }
        .step1 {
            &::before {
                background: var(--color-white) url("../images/icon/ico-list-50.svg") no-repeat center/50px auto;
            }
        }
        .step2 {
            &::before {
                background: var(--color-white) url("../images/icon/ico-edit-file-50-gray.svg") no-repeat center/50px auto;
            }
            &.curr::before {
                background-image: url("../images/icon/ico-edit-file-50.svg");
            }
        }
        .step3 {
            &::before {
                background: var(--color-white) url("../images/icon/ico-person-check-50-gray.svg") no-repeat center/50px auto;
            }
            &.curr::before {
                background-image: url("../images/icon/ico-person-check-50.svg");
            }
        }
    }
}
.policyWrap {
    .policyTit {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 30px;
        line-height: 1.5;
        p {
            font-size: 24px;
            font-weight: 700;
            color: var(--color-dark);
            strong {
                color: var(--color-red);
            }
        }
    }
    .policyContBox {
        
        padding: 20px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        background: var(--gray5);
        .policyCont {
            overflow-y: auto;
            max-height: 210px;
            line-height: 1.5;
            letter-spacing: -0.51px;
            font-size: 17px;
            color: var(--color-text);
            p {
                margin: 30px 0;
                &:first-child {
                    margin-top: 0;
                }
            }
            dl {
                margin-top: 30px;
                dt {
                    font-weight: 700;
                    color: var(--color-dark);
                }
            }
        }
    }
    > p {
        margin-top: 8px;
        line-height: 1.5;
        font-size: 15px;
        color: var(--gray60);
    }
    + .policyWrap {
        margin-top: 90px;
    }
}
@media (max-width: 767px) {
    .whiteBox.v2 {
        padding: 40px 20px;
    }
    .joinProcess {
        ol {
            gap: 70px;
            li {
                padding-top: 76px;
                width: 60px;
                &::before {
                    width: 60px;
                    height: 60px;
                    background-size: 40px auto !important;
                }
                + li::after {
                    top: 30px;
                    left: -70px;
                    width: 70px;
                }
            }
        }
    }
    .policyWrap {
        .policyTit {
            p {
                font-size: 20px;
            }
        }
    }
}
@media (max-width: 390px) {
    .joinProcess {
        ol {
            gap: 50px;
            li {
                + li::after {
                    top: 30px;
                    left: -50px;
                    width: 50px;
                }
            }
        }
    }
}

/* 회원가입 */
.icoInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    color: var(--color-dark);
    img {
        margin: 0 auto 40px;
    }
    strong {
        margin-bottom: 24px;
        line-height: 1.2;
        letter-spacing: -1.08px;
        font-size: 36px;
    }
    p {
        margin-bottom: 20px;
        line-height: 1.2;
        letter-spacing: -0.6px;
        font-size: 20px;
        color: var(--color-dark);
        b {
            font-weight: 700;
        }
    }
    span {
        letter-spacing: -0.51px;
        font-size: 17px;
        color: var(--text-color);
        b {
            font-weight: 700;
            color: var(--color-red);
        }
    }
}
@media (max-width: 767px) {
    .icoInfo {
        img {
            margin-bottom: 20px;
            width: 100px;
            height: 100px;
        }
    }
}
@media (max-width: 360px) {
    .icoInfo {
        p {
            font-size: 17px;
        }
    }
}