/*>>>>>>>>>> 공통 <<<<<<<<<<*/
.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
    overflow: hidden;
    width: 1px;
    height: 1px; 
    opacity: 0
}
.inner {
    margin: 0 auto;
    padding: 0 24px;
    width: 1720px;
    max-width: 100%;
}
@media (min-width: 768px) {
    .moV {
        display: none;
    }
}
@media (max-width: 767px) {
    .pcV {
        display: none;
    }
}

/* 타이틀 */
h3 {
    line-height: 1.6;
    font-size: 40px;
    font-weight: 700;
    color: var(--color-black);
}
@media (max-width: 1160px) {
    
}
@media (max-width: 767px) {
    h3 {
        font-size: 30px; // 32px
    }
}

/* position */
.pRel{position:relative}

/* textAlign */
.txtl{text-align:left;}
.txtc{text-align:center;}
.txtr{text-align:right;}

/* 버튼 */
.btnBox{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:0 10px;
    margin-top:32px;
    &[class*="half"] > *{
        flex:1 0 auto;
    }
    &[class*="resize"] > *{
        @media screen and (min-width:1160px){
            flex:0 0 auto;
        }
    }
    &[class*="sideRight"]{
        justify-content:flex-end;
    }   
}
.btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:18px;
    border-radius:8px;
    width:max-content;
    height:48px;
    line-height:1.5;
    font-size:17px;
    box-sizing:border-box;    
    &[class*="sm"]{
        white-space:nowrap;
        padding:8px 10px;
        border-radius:4px;
        height:32px;
        line-height:normal;
        font-size:15px;
    }
    &[class*="lg"]{
        padding:12px 16px;
        height:56px;
        line-height:1.5;
        font-size:20px;
    }
    &[class*="full"]{
        width:100%;
    }
}
.btnDefault{
    border:1px solid var(--color-dark);
    font-weight:var(--regular);
    color:var(--color-dark);
}
.btnGray{
    font-weight:var(--bold);
    color:var(--color-white);
    background:var(--gray50);
}
.btnRed{
    font-weight:var(--bold);
    color:var(--color-white);
    background:var(--color-red);
}
.btnBorder{
    position:relative;
    line-height:normal;
    font-size:17px;
    font-weight:var(--regular);
    color:var(--color-text);
    &::after{
        content:"";
        position:absolute;
        bottom:0;
        left:0;    
        display:block;
        width:100%;
        height:1px;
    }
    &[class*="gray"]::after{
        background:var(--color-text);
    }
    &[class*="red"]::after{
        background:var(--color-text);
    }
}
.btnLink {
    display: inline-block;
    padding: 16px 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    line-height: 26px;
    span {
        display: block;
        padding-right: 50px;
        font-size: 21px;
        color: var(--color-white);
        background: url("../images/common/btn-arrow.png") no-repeat center right/20px auto;
    }
}
.btnRemove{
    display:block;
    position:absolute;
    top:50%;
    right:12px;
    overflow:hidden;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background:url(../images/ico-file-remove.svg) no-repeat center center / contain;
    transform:translateY(-50%);
}
/* //버튼 */
@media (max-width: 1160px) {
    
}
@media (max-width: 767px) {
    .btnLink {
        span {
            font-size: 21px
        }
    }
}

/* inputBox default */
.inputBox{
    margin-bottom:10px;
    input,
    select{
        line-height:1.5;
        font-size:20px;
        font-weight:var(--regular);
        letter-spacing:-0.03em;
        color:var(--color-dark);
        padding:0 10px;
        width:100%;
        height:48px;
        border-radius:8px;
        border:1px solid var(--gray60);
        box-sizing:border-box;
    }
    select{
        background:url(../images/ico-arrow-dark-24.svg) no-repeat calc(100% - 10px) center / auto;
        appearance:none;
    }
    input{
        display:flex;
        align-items:center;
        justify-content:flex-start;
        text-align:left;        
    }
}

/* 탭 */
.tabTit {
    overflow-x: auto;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
    // &::-webkit-scrollbar {
    //     height: 9px;
    // }
    // &::-webkit-scrollbar-thumb {
    //     border: 3px solid transparent;
    //     border-left: 0;
    //     border-radius: 10px;
    //     background: rgba(0, 0, 0, 0.6); /* 스크롤바의 색상 */
    //     background-clip: padding-box;
    // }
    // &::-webkit-scrollbar-track {
    //     background: var(--color-white); /*스크롤바 뒷 배경 색상*/
    // }
    ul {
        display: flex;
        height: 50px;
    }
    li {
        flex-shrink: 0;
        border: 1px solid #ccc;
        min-width: 200px;
        text-align: center;
        line-height: 48px;
        font-size: 19px;
        font-weight: 700;
        background: var(--color-white);
        transition: all 0.2s;
        -moz-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        a {
            display: block;
            padding: 0 38px;
            color: #888;
        }
    }
    li.curr {
        border-color: var(--color-red);
        background: var(--color-red);
        a {
            color: var(--color-white);
        }
    }
}
.tabCont {
    padding: 40px 0 0;
}
@media (max-width: 767px) {
    .tabTit {
        li {
            min-width: 120px;
        }
    }
}

/* flex box */
[class*="flexBox"] {
    display: flex;
    &[class*="Col"]{
        flex-direction:column;
    }
    &[class*="As"]{
        align-items: flex-start;
    }
    &[class*="Ac"]{
        align-items: center;
    }    
    &[class*="Ae"]{
        align-items: flex-end;
    }
    &[class*="Js"]{
        justify-content:flex-start;
    }
    &[class*="Jc"]{
        justify-content:center;
    }
    &[class*="Je"]{
        justify-content:flex-end;
    }
}


/* container */
#container{
    overflow:hidden;
    margin-top:80px;
    padding:24px 16px 120px;
    width:100%;
    max-width:1520px;
    min-height:50vh;
    @media screen and (min-width:1160px) {
        margin:100px auto 0;
        padding:0 0 120px;
    }
}

/* sitemap */
.sitemap{
    ul{
        display:flex;
        align-items:center;
        justify-content:flex-start;
        gap:0 4px;
        padding-bottom:40px;
    }
    li{
        &:not(:last-child){
            &::after{
                display:inline-flex;
                align-items:center;
                justify-content:center;
                content : ">";
                width:16px;
                height:16px;
                font-size:15px;
                font-weight:var(--regular);
                color:var(--color-dark);
            }
        }
        a{   
            padding:6px;
            font-size:15px;
            font-weight:var(--regular);
            color:var(--color-dark);         
        }
    }
    .home{
        display:inline-flex;
        align-items:center;
        justify-content:center;
        gap:0 4px;
        a{
            display:inline-flex;
            overflow:hidden;
            width:24px;
            height:24px;
            text-indent:-9999px;
            background:url(../images/common/ico-sitemap-home.svg) no-repeat center center / contain;
        }
    }
    @media screen and (min-width:1160px){
        padding: 40px 0;
    }
}

/* content */
.content{
    
}

/* titles */
.titL{
    h2{
        margin-bottom:64px;
        line-height:1.5;
        letter-spacing:-0.03em;
        font-size:32px;
        font-weight:var(--bold);
        color:var(--color-dark);
        @media screen and (min-width:1160px){
            margin: 0 0 80px;
        }
    }
}
// .titM{ 모바일 미정
//     h2{
//         line-height:1.5;
//         letter-spacing:-0.03em;
//         font-size:32px;
//         font-weight:var(--bold);
//         color:var(--color-dark);
//         margin-bottom:64px;
//         @media screen and (min-width:1160px){
//             margin: 0 0 80px;
//         }
//     }
// }
.titS{
    h5{
        line-height:1.5;
        font-size:20px;   
        font-weight:var(--bold);
        letter-spacing:-0.03em;
        color:var(--color-dark);
        margin-bottom:16px;
        @media screen and (min-width:1160px) {
            font-size:24px;
            margin-bottom:20px;
        }
    }
}

/* icon titles */
[class*="tit"]{
    &[class*="Ico"]{
        display:flex;
        align-items:center;
        justify-content:flex-start;
        gap:0 10px;
        &::before{
            content:"";
            flex:0 0 50px;
            display:block;
            width:50px;
            height:50px;
        }
        &[class*="Puzzle"]::before{
            background:url(../images/ico-puzzle-50.svg) no-repeat center center / contain;
        }
        &[class*="GiveFile"]::before{
            background:url(../images/ico-giveFile-50.svg) no-repeat center center / contain;
        }
        &[class*="CycleMedal"]::before{
            background:url(../images/ico-cycleMedal-50.svg) no-repeat center center / contain;
        }
        // &[class*="]::before{

        // }
    }
}

/* description color */
.cRed{color:var(--color-red) !important}
.cDark{color:var(--color-dark) !important}
.cBlack{color:var(--color-black) !important}
.cText{color:var(--color-text) !important;}
.cWhite{color:var(--color-white) !important}
.cLG{color:var(--color-lightGray) !important}

/* text description */
.descDeft{ //description Default
    p{
        line-height:1.5;
        font-size:20px;
        font-weight:var(--regular);
        letter-spacing:0.03em;
        color:var(--color-text);
        &:not(:last-child){
            margin-bottom:16px;
        }
    }
}
.txtDotList{
    padding:10px 0;
    li{
        margin-bottom:12px;
        p{
            display:flex;
            align-items:flex-start;
            justify-content:flex-start;
            gap:0 12px;
            line-height:1.5;
            font-size:20px;
            font-weight:var(--regular);
            letter-spacing:-0.05em;
            color:var(--color-text);
            &:not(:last-child){
                margin-bottom:12px;
            }
            &::before{
                content:"";
                flex:0 0 auto;
                display:block;
                margin:12px 4px;
                width:6px;
                height:6px;
                background:var(--color-red);
                border-radius:20px;
            }
        }
        &.subMore{
            span{
                &::before{
                    content:"-";
                    display:inline-block;
                }
            }
        }
        span{
            display:flex;
            align-items:baseline;
            justify-content:flex-start;
            gap:0 4px;
            line-height:1.5;
            font-size:17px;
            font-weight:var(--regular);
            letter-spacing:-0.03em;
            color:var(--color-text);
            padding: 0 0 0 20px;
            &:not(:last-child){
                margin-bottom:4px;
            }
        }
    }
}

/* paging */
.paging{
    margin-top:24px;
    .inner{
        display:flex;
        align-items:center;
        justify-content:center;
        gap:0 8px;
        [class*="btn"]{
            overflow:hidden;
            text-indent:-9999px;
            width:32px;
            height:40px;
            &[class*="First"]{
                background:url(../images/ico-dubbleArrow-gray-left.svg) no-repeat 4px center / auto;
            }
            &[class*="Prev"]{
                background:url(../images/ico-arrow-gray-left-20.svg) no-repeat 4px center / auto;
            }
            &[class*="Next"]{
                background:url(../images/ico-arrow-gray-right-20.svg) no-repeat calc(100% - 4px) center / auto;
            }
            &[class*="Last"]{
                background:url(../images/ico-dubbleArrow-gray-right.svg) no-repeat calc(100% - 4px) center / auto;
            }
        }
        .page{
            strong{
                display:inline-flex;
                align-items:center;
                justify-content:center;
                padding:10px;
                width:40px;
                height:40px;
                white-space:nowrap;
            }
            .slashDash{
                display:inline-flex;
                align-items:center;
                justify-content:center;            
                width:20px;
                height:40px;
            }
        }
    }
}

/* tableDefault */
.tableDefault{
    position:relative;
    caption{
        position:absolute;
        top:0;
        left:0;
        overflow:hidden;
        width:1px;
        height:1px;
        text-indent:-9999px;
        opacity:0;
    }
    table{
        border-top:1px solid var(--table-top);
        border-bottom:1px solid var(--border-bottom);
        width:100%;
        .required::before{
            content:"*";
            margin-right:2px;
            line-height:1.5;
            color:var(--color-red);
        }
    }
    tbody{
        border-bottom:1px solid var(--table-border);
        width:100%;
        @media screen and (min-width:1160px) {
            // display:inline-table;
        }
        tr{
            @media screen and (max-width:1159px) {
                display:block;                
            }
            &:not(:first-child){
                border-top:1px solid var(--table-border);
            }
            th,
            td{
                text-align:left;
                line-height:1.2;
                font-size:17px;
                color:var(--color-dark);
                width:100%;
                @media screen and (min-width:1160px){
                    display:table-cell;
                    min-height:56px;
                }
                @media screen and (max-width:1159px) {
                    display:block;
                }
            }
            th{
                padding:12px 8px;
                font-weight:var(--bold);
                background:var(--table-bg);
                @media screen and (min-width:1160px){
                    border-right:1px solid var(--border-color);
                    width:200px;
                    text-align:center;
                    vertical-align:middle;
                }
            }
            td{
                padding:12px;
                input,
                textarea{
                    display:block;
                    border:1px solid var(--border-color);
                    border-radius:4px;
                    width:100%;
                    font-size:17px;
                    font-weight:var(--regular);
                    color:var(--color-dark);
                    box-sizing:border-box;
                    &::placeholder{
                        color:var(--color-text);
                    }
                }
                input{
                    padding:6px 10px;
                }
                .prevFileInput{
                    margin-top:8px;
                    color:var(--color-disabled);
                    background:var(--gray5);
                    border-style:none;
                }
                textarea{
                    padding:10px;
                    min-height:168px;
                    font-family:inherit;
                    resize:none;
                    @media screen and (min-width:1160px){
                        min-height:240px;
                        resize:inherit;
                    }
                }
                p{
                    padding:6px 10px;
                    line-height:1.2;
                    letter-spacing:-0.03em;
                    font-size:17px;
                    font-weight:var(--regular);
                    color:var(--color-text);
                }
                .withFileBtn{
                    gap:0 8px;
                    [placeholder="파일을 선택해주세요."]{
                        max-width:320px;
                    }
                }
                a[download]{
                    line-height:1.2;
                    letter-spacing:-0.03em;
                }
                @media screen and (min-width:1160px){
                    width:auto;
                    &:not(:last-child){
                        border-right:1px solid vaR(--table-border);
                    }
                }
            }
            @media screen and (min-width:1160px) {
                display:table-row;
                .hMin240{
                    min-height:216px;
                }
            }
        }
    }
}

/* tableBaord */
[class*="table"][class*="boardList"]{
    thead{
        @media screen and (min-width:1160px) {
            width:100%;
            border-bottom:1px solid var(--talbe-border);
            background:var(--table-bg);
        }
        @media screen and (max-width:1159px) {
            display:none;
        }
        tr{
            th{
                line-height:1.5;
                font-size:17px;
                font-weight:var(--bold);
                color:var(--color-dark);
                letter-spacing:-0.03em;
                padding:11px 0;
            }
        }
    }
    tbody{
        border-bottom:1px solid var(--color-dark);
        @media screen and (min-width:1160px) {
            border-bottom:1px solid var(--table-border);
        }
        tr{
            background:var(--table-bg);
            &:not(:last-child){
                border-bottom:1px solid var(--color-dark);
                @media screen and (min-width:1160px) {
                    border-bottom:1px solid var(--table-border);
                }
            }
            &:nth-child(2n){
                background:var(--color-white);
            }
            @media screen and (min-width:1160px) {
                background:initial;
            }
            td{
                padding:10px 12px;
                @media screen and (min-width:1160px) {
                    display:table-cell;
                    border-style:none;
                    padding:15px 12px;
                }
                @media screen and (max-width:1159px) {
                    display:flex;
                    align-items:flex-start;
                    justify-content:flex-start;
                }
                .cellTit{
                    display:inline-flex;
                    align-items:center;
                    justify-content:flex-start;
                    flex:0 0 80px;
                    line-height:1.5;
                    font-size:17px;
                    font-weight:var(--bold);
                    letter-spacing:-0.03em;
                    color:var(--color-dark);
                    padding:8px 4px;      
                    margin-right:8px;  
                    width:80px;          
                    height:100%;
                    border-right:1px solid var(--table-border);
                    box-sizing:border-box;
                    @media screen and (min-width:1160px) {
                        display:none;
                    }
                }
                p{
                    line-height:1.5;
                    padding:10px 0;
                    @media screen and (min-width:1160px) {
                        padding:0;
                    }
                }
                .titHover{
                    display: -webkit-box;        /* 플렉스박스처럼 박스를 만듭니다 */
                    -webkit-box-orient: vertical; /* 박스 방향을 수직으로 설정 */
                    overflow: hidden;             /* 넘치는 텍스트 숨김 */
                    text-overflow: ellipsis;      /* 말줄임 표시(...) 설정 */
                    line-clamp: 2;        /* 표시할 줄 수 (여기서는 2줄) */
                    line-height:1.5;
                    font-size:17px;
                    font-weight:var(--regular);
                    letter-spacing:-0.03em;
                    color:var(--color-text);
                    margin:10px 0;
                    max-height: calc(1.5em * 2); 
                    text-decoration:underline;
                    text-decoration-color:var(--color-text);
                    @media screen and (min-width:1160px) {
                        margin:0;
                    }
                    &:hover,
                    &:active,
                    &:focus{
                        color:var(--color-red);
                        text-decoration-color:var(--color-red);
                    }
                }
                &:not(:has(.titHover)){
                    @media screen and (min-width:1160px) {
                        text-align:center;
                    }
                }
            }
        }
    }
}

/* table cell size */
.pcW360{
    @media screen and (min-width:1160px){
        width:360px !important;
    }
}
.pcW64{
    @media screen and (min-width:1160px) {
        width:64px;
    }
}
.pcW976{
    @media screen and (min-width:1160px) {
        width:976px;
    }
}
.pcW120{
    @media screen and (min-width:1160px) {
        width:120px;
    }
}
.pcW240{
    @media screen and (min-width:1160px) {
        width:240px;
    }
}
.pcW120{
    @media screen and (min-width:1160px) {
        width:120px;
    }
}

/* custom */
/* 교육수료증 발급 > 사원 제안하기 > 사업공모안내
                                 > 교육수료증 발급
*/
.listCont{
    padding:24px;
    border-radius:16px;
    background:var(--gray5);
    margin-bottom:64px;
    @media screen and (min-width:1160px) {
        display:flex;
        align-items:flex-start;
        justify-content:space-between;
        margin-bottom:80px;
    }
    > div {
        flex:0 0 calc(50% - 24px);
    }
    > div:first-child{
        position:relative;
        &::after{
            content:"";
            display:block;
            margin:24px 0;
            width:100%;
            height:1px;
            background:var(--table-border);
            @media screen and (min-width:1160px) {
                position:absolute;
                top:0;
                right:-24px;
                margin:0;
                width:1px;
                height:100%;
            }
        }
    }
    .txtDotList{
        @media screen and (min-width:1160px) {
            padding:10px 16px;
        }        
    }
    + .inputWrap{
        @media screen and (min-width:1160px) {
            position:relative;
            display:flex;
            align-items:center;
            justify-content:flex-end;
            margin-bottom:40px;
        }
        select{
            @media screen and (min-width:1160px) {
                width:120px;
                margin-right:10px;            
            }
        }
        input{
            @media screen and (min-width:1160px) {
                width:360px;
            }
        }
        .btn{
            &::before{
                content:"";
                display:block;
                width:20px;
                height:20px;
                background:url(../images/ico-search-white-20.svg) no-repeat center center / contain;
                margin-right:4px;
            }
            @media screen and (min-width:1160px) {
                &::before{
                    content:none;
                }
                position:absolute;
                top:13px;
                right:10px;
                text-indent:-9999px;
                overflow:hidden;
                padding:0;
                width:24px;
                height:24px;
                background:url(../images/ico-search-24.svg) #fff no-repeat center center / contain;
            }
        }
    }
    .circList{
        padding:10px 0;
        ul{
            @media screen and (min-width:1160px) {
                display:flex;
                align-items:center;
                justify-content:center;
                gap:0 32px;
            }
        }
        li{
            @media screen and (min-width:1160px) {
                display:flex;
                align-items:flex-start;
                justify-content:center;
            }
            &:not(:last-child){
                margin:0 auto 24px;
                @media screen and (min-width:1160px) {
                    margin: 0;
                }
                &::after{
                    content:"";
                    display:block;
                    margin:24px auto;
                    width:32px;
                    height:32px;
                    background:url(../images/visual-arrow-dot.svg) no-repeat center center / auto;
                    transform:rotate(90deg);
                    @media screen and (min-width:1160px) {
                        margin:36px 0 0 32px;
                        transform:inherit;
                    }
                }
            }
            p{
                &::before{
                    content:"";
                    display:block;
                    width:100px;
                    height:100px;
                    margin:0 auto 8px;
                    border-radius:50%;
                }
            }
            &:first-child p::before{
                background:url(../images/visual-file-with-pen.svg) no-repeat #fff center center / auto;
            }
            &:nth-child(2) p::before{
                background:url(../images/visual-file-in-letter.svg) no-repeat #fff center center / auto;
            }
            &:last-child p::before{
                background:url(../images/visual-file-with-medal.svg) no-repeat #fff center center / auto;
            }
        }
    }
}
/* 교육수료증 발급 - 비회원 로그인 ui */
.certificateBox{
    padding:20px 40px;
    .txt{
        white-space:nowrap;
        margin-top:20px;
        line-height:1.5;
        font-size:20px;
        font-weight:var(--regular);
        color:var(--color-dark);
    }
    .btnBox{
        margin-top:60px;
    }
}