/* 개인정보처리방침 */
.grayBgBox {
    padding:24px;
    background-color: #F8F8F8;
    border-radius: 16px;
    text-align: center;
    p {
        line-height: 1.5;
        letter-spacing: -0.6px;
        font-size: 20px;
        color: var(--color-dark);
    }
}

.psPolicyArea {
    word-break:keep-all;
    dl {
        margin-top: 80px;
        dt {
            margin-bottom: 24px;
            font-weight: 700;
            font-size: 24px;
            line-height: 1.8;
            letter-spacing: -0.03em;
            color: var( --color-red);
        }
        dd {
            .titXS {
                strong{
                    display: block;
                    margin-top: 40px;
                    margin-bottom: 20px;
                    line-height: 1.5;
                    letter-spacing: -0.6px;
                    font-weight: 700;
                    font-size: 20px;
                    color: var(--color-dark);
                }
            }
            .txtDotList {
                margin-left: 20px;
                + .descDeft {
                    margin-top: 20px;
                    margin-bottom: 0;
                    + .tableDefault {
                        margin-top: 40px;
                        margin-bottom: 130px;
                        tbody tr td {
                            vertical-align: top;
                            text-align: left;
                            p {
                                line-height: 1.5;
                                letter-spacing: -0.03em;
                                font-size: 20px;
                                font-weight: var(--regular);
                                color: var(--color-text);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .psPolicyArea {
        dl {
            margin-top: 60px;
            dt {
                font-size: 20px;
                line-height: 1.5;
            }
            dd {
                .titXS {
                    strong{
                        margin-top: 30px;
                        margin-bottom: 24px;
                    }
                }
                .txtDotList {
                    padding:0;
                    + .descDeft {
                        margin-top: 20px;
                        + .tableDefault {
                            tbody tr td {
                                + td {
                                    background-color: #fff;
                                    border-top: 1px solid var(--color-dark);
                                }
                                .cellTit {
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
                .descDeft {
                    * {
                        font-size: 20px;
                    }
                }
            }
        }
    }    
}

/* 유관배너 목록 */
.ciList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    > * {
        display:flex;
        align-items: center;
        justify-content: center;
        padding:20px;
        height: 200px;
        border: 1px solid var(--border-color);
        border-radius: 20px;
    }
}
@media (max-width: 1160px) {
    .ciList {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 768px) {
    .ciList {
        grid-template-columns: 1fr;
    }
}
/* 고객센터 */
.titM.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    button {
        font-size: 17px;
        color:var(--color-white);
        letter-spacing: 0;
    }
}
.tabTit.acco {
    justify-content: flex-start;
    + .tabCont {
        padding-top: 0;
        border-top: 1px solid var(--border-color);
    }
}
.accoItem {
    h4 {
        padding:20px 12px;
        border-bottom: 1px solid var(--border-color);
        button {
            position:relative;
            padding:0 36px 0 35px;
            width: 100%;
            background: url("../images/icon/ico-acco-q.png") no-repeat left 2px /16px auto;
            line-height: 1.5;
            font-weight: var(--regular);
            font-size: 17px;
            letter-spacing: -0.03rem;
            cursor: pointer;
            text-align: left;
            color: var( --text-color);
            &:before {
                position:absolute;
                content:"";
                top:3px;
                right:0;
                width:20px;
                height:20px;
                background:url('../images/icon/ico-acco-arrow-20.svg') no-repeat center / 100% auto;
                transform:rotate(180deg);
                -webkit-transform:rotate(180deg);
                -moz-transform:rotate(180deg);
            }
            &.on:before {
                transform:rotate(0);
                -webkit-transform:rotate(0);
                -moz-transform:rotate(0);
            }
        }
    }

    .accoCon {
        display: none;
        padding: 24px 12px;
        background: var(--gray5);
        border-bottom: 1px solid var(--border-color);
        line-height: 20px;
        letter-spacing: -0.03rem;
        font-weight: var(--regular);
        font-size: 17px;
        color:var( --text-color);

        & > div {
            padding-left: 36px;
            background: url("../images/icon/ico-acco-a.png") no-repeat top left/ 17px auto;
        }
    }
}
@media (max-width: 768px) {
    .titM.flex {
        display:block;
        margin-bottom:34px;
        button {
            margin-top: 24px;
            width: 100%;
        }
    }
}
