/* 개인정보처리방침 */
.grayBgBox {
    padding:24px;
    background-color: #F8F8F8;
    border-radius: 16px;
    text-align: center;
    p {
        line-height: 1.5;
        letter-spacing: -0.6px;
        font-size: 20px;
        color: var(--color-dark);
    }
}

.psPolicyArea {
    word-break:keep-all;
    dl {
        margin-top: 80px;
        dt {
            margin-bottom: 24px;
            font-weight: 700;
            font-size: 24px;
            line-height: 1.8;
            letter-spacing: -0.03em;
            color: var( --color-red);
        }
        dd {
            .titXS {
                strong{
                    display: block;
                    margin-top: 40px;
                    margin-bottom: 20px;
                    line-height: 1.5;
                    letter-spacing: -0.6px;
                    font-weight: 700;
                    font-size: 20px;
                    color: var(--color-dark);
                }
            }
            .txtDotList {
                margin-left: 20px;
                + .descDeft {
                    margin-top: 20px;
                    margin-bottom: 0;
                    + .tableDefault {
                        margin-top: 40px;
                        margin-bottom: 130px;
                        tbody tr td {
                            vertical-align: top;
                            text-align: left;
                            p {
                                line-height: 1.5;
                                letter-spacing: -0.03em;
                                font-size: 20px;
                                font-weight: var(--regular);
                                color: var(--color-text);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .psPolicyArea {
        dl {
            margin-top: 60px;
            dt {
                font-size: 20px;
                line-height: 1.5;
            }
            dd {
                .titXS {
                    strong{
                        margin-top: 30px;
                        margin-bottom: 24px;
                    }
                }
                .txtDotList {
                    padding:0;
                    + .descDeft {
                        margin-top: 20px;
                        + .tableDefault {
                            tbody tr td {
                                + td {
                                    background-color: #fff;
                                    border-top: 1px solid var(--color-dark);
                                }
                                .cellTit {
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
                .descDeft {
                    * {
                        font-size: 20px;
                    }
                }
            }
        }
    }    
}