@charset "UTF-8";
/*>>>>>>>>>> 공통 <<<<<<<<<<*/
.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.inner {
  margin: 0 auto;
  padding: 0 24px;
  width: 1720px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .moV {
    display: none;
  }
}
@media (max-width: 767px) {
  .pcV {
    display: none;
  }
}
/* 타이틀 */
h3 {
  line-height: 1.6;
  font-size: 40px;
  font-weight: 700;
  color: var(--color-black);
}

@media (max-width: 767px) {
  h3 {
    font-size: 30px;
  }
}
/* 버튼 */
.btnLink {
  display: inline-block;
  padding: 16px 20px;
  border: 1px solid #ccc;
  border-radius: 40px;
  line-height: 26px;
}
.btnLink span {
  display: block;
  padding-right: 50px;
  font-size: 21px;
  color: var(--color-white);
  background: url("/assets/images/common/btn-arrow.png") no-repeat center right/20px auto;
}

@media (max-width: 767px) {
  .btnLink span {
    font-size: 21px;
  }
}
/* 탭 */
.tabTit {
  overflow-x: auto;
  scrollbar-width: none;
}
.tabTit::-webkit-scrollbar {
  display: none;
}
.tabTit ul {
  display: flex;
  height: 50px;
}
.tabTit li {
  flex-shrink: 0;
  border: 1px solid #ccc;
  min-width: 200px;
  text-align: center;
  line-height: 48px;
  font-size: 19px;
  font-weight: 700;
  background: var(--color-white);
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.tabTit li a {
  display: block;
  padding: 0 38px;
  color: #888;
}
.tabTit li.curr {
  border-color: var(--color-red);
  background: var(--color-red);
}
.tabTit li.curr a {
  color: var(--color-white);
}

.tabCont {
  padding: 40px 0 0;
}

@media (max-width: 767px) {
  .tabTit li {
    min-width: 120px;
  }
}