@charset "UTF-8";
#main section {
  margin: 120px 0;
}

.titArea-main {
  margin-bottom: 40px;
}

.swiperBtn {
  position: absolute;
  top: 10px;
  right: 0;
  width: 90px;
  height: 40px;
}
.swiperBtn .swiper-button-prev {
  top: 0;
  left: 0;
  margin-top: 0;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background: url("/assets/images/main/btn-prev-circle.png") no-repeat center/100% auto;
}
.swiperBtn .swiper-button-next {
  top: 0;
  right: 0;
  margin-top: 0;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background: url("/assets/images/main/btn-next-circle.png") no-repeat center/100% auto;
}

@media (max-width: 1160px) {
  .swiperBtn {
    top: 0;
  }
}
@media (max-width: 767px) {
  #main section {
    margin: 80px 0;
  }
  .titArea-main {
    margin-bottom: 90px;
  }
}
/* 메인 1단 */
.visualSwiper {
  position: relative;
  overflow: hidden;
  height: 910px;
}
.visualSwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.visualSwiper .scrollDown {
  position: absolute;
  bottom: 54px;
  left: 50%;
  z-index: 5;
  padding-top: 46px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
  background: url("/assets/images/main/ico-mouse.svg") no-repeat center top/40px auto;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  animation: scroll 2s infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
    margin-bottom: 1.4vw;
  }
  50% {
    opacity: 1;
    margin-bottom: 0;
  }
  100% {
    opacity: 0;
    margin-bottom: 1.4vw;
  }
}
.visualTxt {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 5;
  padding: 0 20px;
  width: calc(100% - 40px);
  max-width: 1680px;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.visualTxt p {
  font-size: 40px;
  color: var(--color-white);
}
.visualTxt strong {
  display: block;
  margin: 16px 0 40px;
  line-height: 1.3;
  font-size: 80px;
  font-weight: 700;
  color: var(--color-white);
}

.visualSwiperBtn {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 5;
  padding: 0 20px;
  width: calc(100% - 40px);
  max-width: 1680px;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.visualSwiperBtn .swiper-pagination {
  display: flex;
  align-items: center;
  gap: 20px;
  position: static;
  margin-right: 20px;
  width: auto;
}
.visualSwiperBtn .swiper-pagination .swiper-pagination-bullet {
  margin: 0;
  background: #999;
  opacity: 1;
}
.visualSwiperBtn .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--color-red);
}
.visualSwiperBtn .swiper-button-prev {
  position: static;
  margin-top: 0;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: url("/assets/images/main/btn-prev.svg") no-repeat center/16px auto;
}
.visualSwiperBtn .swiper-button-next {
  position: static;
  margin-top: 0;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: url("/assets/images/main/btn-next.svg") no-repeat center/16px auto;
}
.visualSwiperBtn .swiper-button-stop {
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: url("/assets/images/main/btn-stop.svg") no-repeat center/16px auto;
  cursor: pointer;
}
.visualSwiperBtn .swiper-button-stop.start {
  background-image: url("/assets/images/main/btn-start.svg");
}

@media (max-width: 1160px) {
  .visualTxt p {
    font-size: 28px;
  }
  .visualTxt strong {
    font-size: 68px;
  }
}
@media (max-width: 767px) {
  .visualSwiper .scrollDown {
    display: none;
  }
  .visualTxt {
    top: 12%;
    left: 24px;
    padding: 0;
    transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }
  .visualTxt p {
    font-size: 17px;
  }
  .visualTxt strong {
    font-size: 55px;
  }
  .visualSwiperBtn {
    top: 50%;
    left: 0;
    padding: 0 24px;
    transform: translateY(-50%);
  }
}
@media (max-width: 390px) {
  .visualTxt strong {
    font-size: 48px;
  }
}
/* 메인 2단 */
.infoSwiper {
  position: relative;
  overflow: hidden;
  margin-top: -100px;
  padding-top: 100px;
}
.infoSwiper .swiper-slide {
  display: flex;
  gap: 20px;
}
.infoSwiper .swiper-slide .imgBox-main {
  position: relative;
}
.infoSwiper .swiper-slide .imgBox-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.infoSwiper .swiper-slide .imgBox-main .txtBox-main {
  position: absolute;
  right: 50px;
  bottom: 50px;
  left: 50px;
  color: var(--color-white);
}
.infoSwiper .swiper-slide .imgBox-main .txtBox-main strong {
  line-height: 1.1;
  font-size: 2.7vw;
  font-weight: 400;
}
.infoSwiper .swiper-slide .imgBox-main .txtBox-main p {
  margin-top: 20px;
  line-height: 1.1;
  font-size: 17px;
}
.infoSwiper .swiper-slide .lt {
  width: 56%;
}
.infoSwiper .swiper-slide .lt .imgBox-main {
  height: 620px;
}
.infoSwiper .swiper-slide .rt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 44%;
}
.infoSwiper .swiper-slide .rt .imgBox-main {
  height: 300px;
}

@media (max-width: 1160px) {
  .infoSwiper {
    margin-top: 0;
    padding-top: 60px;
  }
  .infoSwiper .swiper-slide {
    flex-direction: column;
  }
  .infoSwiper .swiper-slide .imgBox-main .txtBox-main {
    bottom: 30px;
    left: 30px;
  }
  .infoSwiper .swiper-slide .imgBox-main .txtBox-main strong {
    line-height: 1.5;
    font-size: 38px;
  }
  .infoSwiper .swiper-slide .imgBox-main .txtBox-main p {
    line-height: 1.5;
    font-size: 14px;
  }
  .infoSwiper .swiper-slide .lt {
    width: 100%;
  }
  .infoSwiper .swiper-slide .lt .imgBox-main {
    height: 316px;
  }
  .infoSwiper .swiper-slide .rt {
    width: 100%;
  }
  .infoSwiper .swiper-slide .rt .imgBox-main {
    height: 242px;
  }
}
@media (max-width: 767px) {
  .infoSwiper {
    margin-top: -80px;
    padding-top: 80px;
  }
  .infoSwiper .swiper-slide .imgBox-main .txtBox-main {
    bottom: 20px;
    left: 20px;
  }
  .infoSwiper .swiper-slide .imgBox-main .txtBox-main strong {
    font-size: 25px;
  }
  .infoSwiper .swiper-slide .imgBox-main .txtBox-main p {
    display: none;
  }
  .infoSwiper .swiper-slide .lt .imgBox-main {
    height: 216px;
  }
  .infoSwiper .swiper-slide .rt .imgBox-main {
    height: 142px;
  }
}
/* 메인 3단 */
.serviceSwiper {
  position: relative;
  overflow: hidden;
  margin: -100px -20px 0;
  padding: 100px 20px 60px;
}
.serviceSwiper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px;
  border: 1px solid #eee;
  border-radius: 20px;
  height: 340px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.serviceSwiper .swiper-slide p {
  padding-bottom: 50px;
  line-height: 1.2;
  font-size: 30px;
  color: var(--color-black);
  background: url("/assets/images/main/ico-arrow-right-40.png") no-repeat left bottom/40px auto;
}
.serviceSwiper .swiper-slide img {
  margin-left: auto;
  width: 100px;
  height: 100px;
}
.serviceSwiper .swiperBtn {
  right: 20px;
}

@media (max-width: 1500px) {
  .serviceSwiper .swiper-slide {
    width: 260px !important;
  }
}
@media (max-width: 1160px) {
  .serviceSwiper {
    margin: 0 -20px 0;
    padding: 60px 20px 10px;
  }
  .serviceSwiper .swiper-slide {
    width: 260px !important;
  }
}
@media (max-width: 767px) {
  .serviceSwiper {
    margin: -80px -20px 0;
    padding: 80px 20px 10px;
  }
}
/* 메인 4단 */
.insightWrap {
  display: flex;
  gap: 40px;
  position: relative;
  margin-top: 30px;
}
.insightWrap:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100vw;
  height: 362px;
  background: #FEF2F3;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.insightWrap .insightTit {
  flex-shrink: 0;
  width: 260px;
}
.insightWrap .insightTit p {
  line-height: 1.5;
  font-size: 30px;
  font-weight: 700;
  color: var(--color-black);
}
.insightWrap .insightSwiper {
  position: relative;
  overflow: hidden;
  margin-right: -132px;
  padding-bottom: 80px;
}
.insightWrap .swiper-slide {
  width: 562px !important;
}
.insightWrap .swiper-slide img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.insightWrap .swiper-slide .insightTxt {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 40px 52px 20px;
  border: 1px solid #eee;
  background: #fff url("/assets/images/main/ico-arrow-right-40.png") no-repeat right 40px bottom 20px/40px auto;
}
.insightWrap .swiper-slide .insightTxt span {
  display: block;
  border: 1px solid #ccc;
  border-radius: 40px;
  text-align: center;
  line-height: 28px;
  width: 100px;
  color: var(--text-color);
}
.insightWrap .swiper-slide .insightTxt p {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 76px;
  line-height: 1.5;
  font-size: 25px;
  color: var(--color-black);
}
.insightWrap .swiper-scrollbar {
  bottom: 10px;
  left: 0;
  border-radius: 6px;
  height: 3px;
  background: #FEF2F3;
}
.insightWrap .swiper-scrollbar .swiper-scrollbar-drag {
  background: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1160px) {
  .insightWrap .insightTit {
    width: 190px;
  }
  .insightWrap .insightTit p {
    font-size: 24px;
  }
  .insightWrap .swiper-slide {
    width: 430px !important;
  }
  .insightWrap .swiper-slide .insightTxt p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .insightWrap {
    gap: 0;
    margin-top: 0;
  }
  .insightWrap:before {
    height: 248px;
  }
  .insightWrap .insightTit {
    display: none;
  }
  .insightWrap .insightSwiper {
    margin-right: -24px;
  }
  .insightWrap .swiper-slide {
    width: 300px !important;
  }
  .insightWrap .swiper-slide img {
    height: 108px;
  }
  .insightWrap .swiper-slide .insightTxt {
    padding: 20px 20px 30px;
    background-position: right 20px bottom 20px;
  }
  .insightWrap .swiper-slide .insightTxt span {
    width: 80px;
    font-size: 13px;
  }
  .insightWrap .swiper-slide .insightTxt p {
    font-size: 19px;
  }
}
/* 메인 5단 */
.cmntySwiper {
  position: relative;
  overflow: hidden;
  margin-top: -100px;
  padding-top: 100px;
}
.cmntySwiper .swiper-slide .cmnty {
  display: flex;
  gap: 30px;
  height: 400px;
}
.cmntySwiper .swiper-slide .cmnty a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  padding: 40px 30px;
  border: 1px solid #eee;
  border-radius: 20px;
  width: 420px;
}
.cmntySwiper .swiper-slide .cmnty a * {
  color: var(--color-white);
}
.cmntySwiper .swiper-slide .cmnty a span {
  font-size: 15px;
  color: var(--color-black);
}
.cmntySwiper .swiper-slide .cmnty a p {
  line-height: 1.5;
  font-size: 30px;
  font-weight: 700;
  color: var(--color-black);
}
.cmntySwiper .swiper-slide .cmnty a em {
  padding-right: 25px;
  width: 96px;
  font-size: 15px;
  color: var(--color-black);
  background: url("/assets/images/main/ico-arrow-right-20.png") no-repeat center right/20px auto;
}
.cmntySwiper .swiper-slide .cmnty a img {
  position: absolute;
  right: 30px;
  bottom: 40px;
  width: 36%;
  height: auto;
}
.cmntySwiper .swiper-slide .cmnty a:first-child {
  width: 820px !important;
  background: #4193F6;
}
.cmntySwiper .swiper-slide .cmnty a:first-child img {
  width: 31%;
}
.cmntySwiper .swiper-slide .cmnty a:first-child * {
  color: var(--color-white);
}
.cmntySwiper .swiper-slide .cmnty a:first-child em {
  background-image: url("/assets/images/main/ico-arrow-right-20-white.png");
}
.cmntySwiper .swiper-slide .cmnty a:nth-child(2) {
  background: #D9E8FF;
}
.cmntySwiper .swiper-slide .cmnty a:nth-child(3) {
  background: #E1F6F5;
}
.cmntySwiper .swiper-slide .cmnty a:nth-child(4) {
  background: #FEF2F3;
}

@media (max-width: 1160px) {
  .cmntySwiper {
    margin-top: 0;
    padding-top: 60px;
  }
  .cmntySwiper .swiper-slide .cmnty {
    gap: 20px;
  }
  .cmntySwiper .swiper-slide .cmnty a {
    padding: 30px;
  }
  .cmntySwiper .swiper-slide .cmnty a p {
    font-size: 21px;
  }
}
@media (max-width: 767px) {
  .cmntySwiper {
    margin-top: -80px;
    padding-top: 80px;
  }
  .cmntySwiper .swiper-slide .cmnty {
    flex-direction: column;
    height: auto;
  }
  .cmntySwiper .swiper-slide .cmnty a {
    padding: 20px;
    width: 100%;
    height: 314px;
  }
  .cmntySwiper .swiper-slide .cmnty a img {
    right: 20px;
    bottom: 20px;
    width: 32%;
  }
  .cmntySwiper .swiper-slide .cmnty a:first-child {
    width: 100% !important;
    height: 426px !important;
  }
  .cmntySwiper .swiper-slide .cmnty a:first-child img {
    width: 48%;
  }
}
/* 메인 6단 */
.spaceCont {
  padding-top: 120px;
  height: 820px;
  background: url("/assets/images/main/bg-02.png") no-repeat center/cover;
}
.spaceCont .inner {
  height: 100%;
}
.spaceCont .spaceArn {
  display: flex;
  gap: 50px;
  height: 100%;
}
.spaceCont .spaceArn .lt {
  flex-shrink: 0;
}
.spaceCont .spaceArn .lt p {
  margin-bottom: 40px;
  line-height: 1.5;
  font-size: 40px;
  font-weight: 700;
  color: var(--color-white);
}
.spaceCont .spaceArn .rt {
  margin-left: auto;
  width: 100%;
  max-width: 1080px;
  height: 100%;
}
.spaceCont .spaceArn .rt ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  grid-template-rows: repeat(auto-fill, minmax(200px, 200px));
  justify-content: flex-end;
  gap: 20px;
  height: 100%;
}
.spaceCont .spaceArn .rt ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-indent: -9999px;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1500px) {
  .spaceCont {
    padding-top: 100px;
    height: 68vw;
  }
  .spaceCont .spaceArn .rt ul {
    grid-template-columns: repeat(auto-fill, minmax(160px, 160px));
    grid-template-rows: repeat(auto-fill, minmax(160px, 160px));
    gap: 10px;
  }
  .spaceCont .spaceArn .rt ul li img {
    width: 90%;
  }
}
@media (max-width: 1160px) {
  .spaceCont {
    padding: 80px 0;
    height: 810px;
    box-sizing: content-box;
  }
  .spaceCont .spaceArn {
    flex-direction: column;
  }
  .spaceCont .spaceArn .lt p {
    font-size: 36px;
  }
  .spaceCont .spaceArn .rt ul {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .spaceCont {
    padding: 50px 0;
  }
  .spaceCont .spaceArn {
    gap: 30px;
  }
  .spaceCont .spaceArn .lt p {
    font-size: 30px;
  }
  .spaceCont .spaceArn .rt ul {
    grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
    grid-template-rows: repeat(auto-fill, minmax(100px, 100px));
    gap: 20px;
  }
}
@media (max-width: 390px) {
  .spaceCont {
    padding-bottom: 0;
  }
  .spaceCont .spaceArn .rt ul {
    grid-template-columns: repeat(auto-fill, minmax(80px, 80px));
    grid-template-rows: repeat(auto-fill, minmax(80px, 80px));
    gap: 10px;
  }
}